<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto">
    <Header></Header>
    <div class="w-full text-white py-2 px-12">
      <div class="bg-primary p-10 mb-5">
        <p class="text-2xl mb-5 text-secondary font-bold">Problem</p>
        <p>“The +Spark team put together an event that offered practical advice and inspiration for anyone interested in social impact careers.I left energized knowing that there’s a whole tide of other young professionals thinking about how to make business work for everyone.” - Charlotte Parker, Business Associate from Acumen</p>
      </div>
      <div class="bg-secondary text-primary p-10 mb-5">
        <p class="text-2xl mb-5 text-primary font-bold">Solution [Creating Leaders]</p>
        <p>“It was a joy and an honor to be a part of Spark's first annual summit. As a young professional in the social impact field, I finally felt at home at Spark. There are no other conferences that is catered towards young professionals in this niche industry.” - Ellie Neilson, Operations and Impact Assessment Associate</p>
      </div>
      <div class="border-4 border-primary text-primary p-10 mb-5 flex flex-col items-center">
        <div class="w-6/12 flex flex-col items-center mb-10">
          <p class="text-2xl mb-5 font-bold">Vision</p>
          <p>“To spark a generation of purpose-driven and impactful leaders”</p>
        </div>
        <div class="w-6/12 flex flex-col items-center">
          <p class="text-2xl mb-5 font-bold">Mission</p>
          <p>To spark KNOWLEDGE: To raise awareness on global social issues in order to change mindsets and inspire youth to become socially-driven leaders in their industry</p>
          <p>To spark ACCESS: To be a bridge between youth and social impact organizations by democratizing knowledge and opportunities through technology</p>
          <p>To spark COMMUNITY: To cultivate and empower a community of youth with aligned visions and passions toward creating positive social change</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  name: "About",
  props: {},
  components: { Header },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>