<style scoped lang="scss">
.why {
  height: 100%;
}

.img-down {
  margin-bottom: -100px;
  @media only screen and (max-width: 600px) {
    margin-bottom: -20px;
  }
}

.bg-yellow {
  background: #fde88a;
}
.bg-intro {
  background: #e9f5f7;
}
.vision img {
  width: 250px;
  margin-bottom: 20px;
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="why bg-intro flex flex-col items-center">
      <Header></Header>
      <div class="info flex flex-col items-center w-full text-center pt-10 sm:pt-20">
        <h1 class="text-3xl sm:text-5xl text-primary font-bold">WHY SPARK?</h1>
        <p class="highlight font-bold texl-lg sm:text-3xl text-primary self-center">{{statsCycle}}</p>
        <img class="w-full img-down" src="https://i.imgur.com/9t9S8Jw.png" />
      </div>
    </div>
    <!-- Section 1 -->
    <div class="why bg-secondary-light flex flex-col items-center">
      <div class="info w-full flex flex-col items-center sm:pt-40">
        <p
          class="text-xl sm:text-5xl text-primary font-bold text-center px-4 sm:px-0 mt-20"
        >In a world filled with massive problems,</p>
        <p class="text-xl sm:text-5xl text-primary font-bold text-center px-4 sm:px-0">
          we need a rise of a different type of
          <span class="highlight">leaders</span>
        </p>
        <img class="w-full" src="https://i.imgur.com/KKd1FlY.png" />
      </div>
    </div>
    <!-- Section 3 -->
    <div class="why flex flex-col items-center">
      <div class="flex flex-col sm:flex-row w-full mb-20">
        <div class="w-12/12 sm:w-6/12 pt-10 sm:pt-32 bg-yellow">
          <p
            class="text-xl sm:text-3xl text-primary font-medium text-center px-4 sm:px-20 pb-10 sm:pb-0"
          >
            SPARK IS A NETWORK OF
            <b>PASSIONATE</b> AND
            <b>PURPOSE-DRIVEN INDIVIDUALS</b> DEDICATED TO
            <b>CREATE POSITIVE SOCIAL IMPACT</b>
          </p>
        </div>
        <div class="w-12/12 sm:w-6/12 text-right pt-10 sm:pt-10 vision px-10">
          <div class="flex flex-row w-full justify-end">
            <img src="https://i.imgur.com/KoQTwB7.png" />
          </div>
          <div>
            <div class="flex flex-row justify-end">
              <p class="text-5xl text-primary font-bold italic pr-4">Our Vision</p>
              <div class="stripe flex flex-col justify-center">
                <div class="inner"></div>
              </div>
            </div>
            <p
              class="text-primary text-3xl font-semibold sm:pr-32"
            >To spark a generation of purpose-driven and impactful leaders</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full sm:w-9/12 mb-10">
        <div class="mb-10 flex flex-row">
          <div class="stripe flex flex-col justify-center">
            <div class="inner"></div>
          </div>
          <p class="text-5xl text-primary font-bold italic pl-2">Our Mission</p>
        </div>
        <div class="flex flex-col sm:flex-row">
          <div class="w-12/12 sm:w-6/12 text-center">
            <div class="flex flex-row justify-center mb-10">
              <img src="https://i.imgur.com/J3efghW.png" />
            </div>
            <p class="text-primary text-xl font-bold">To Spark Knowledge</p>
            <p
              class="text-primary text-lg mb-5"
            >To raise awareness on global social issues in order to change mindsets and inspire young adults to become socially-driven leaders in their industry</p>
          </div>
          <div class="w-12/12 sm:w-6/12 text-center">
            <div class="flex flex-row justify-center mb-10">
              <img src="https://i.imgur.com/lDZOXCV.png" />
            </div>
            <p class="text-primary text-xl font-bold">To Spark Access</p>
            <p
              class="text-primary text-lg mb-5"
            >To be a bridge between youth and social impact organizations by democratizing knowledge and opportunities through technology</p>
          </div>
        </div>
        <div class="flex flex-row justify-center">
          <div class="w-12/12 sm:w-6/12 text-center">
            <div class="flex flex-row justify-center mb-10">
              <img src="https://i.imgur.com/QvHdPKQ.png" />
            </div>
            <p class="text-primary text-xl font-bold">To Spark Community</p>
            <p
              class="text-primary text-lg"
            >To cultivate and empower a community of youth with aligned visions and passions toward creating positive social change</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import { setInterval } from "timers";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {
    let self = this;
    setInterval(function() {
      self.statsIn++;
    }, 4000);
  },
  data: function() {
    return {
      stats: [
        "100 million youths globally are still illiterate",
        "1 billion children worldwide are living in poverty",
        "More than 750 million people lack adequate access to clean drinking water",
        "805 million people worldwide do not have enough food to eat",
        "More than 1.3 billion live in extreme poverty",
        "The 9 richest men in the world have more combined wealth than the poorest 4 billion"
      ],
      statsIn: 0
    };
  },
  computed: {
    statsCycle: function() {
      return this.stats[this.statsIn % this.stats.length];
    }
  },
  methods: {}
};
</script>