<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <AdminHeader class="flex"></AdminHeader>
    <div class="w-full flex flex-col flex-grow h-full justify-center text-white py-2 px-10">
      <!-- Section 1 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Admin Panel!</p>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between text-primary">
            <p>Still WIP</p>
          </div>
        </div>
      </div>

      <!-- Section 1 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Category</p>
              <div
                v-for="(item, index) in categories"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editCat(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteCat(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formCat.name"
              placeholder="Category"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitCat"
            >Add Category</button>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Career</p>
              <div
                v-for="(item, index) in career"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editCareer(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteCareer(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formCareer.name"
              placeholder="Career"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitCareer"
            >Add Career</button>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Issue</p>
              <div
                v-for="(item, index) in issue"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editIssue(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteIssue(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formIssue.name"
              placeholder="Issue"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitIssue"
            >Add Issue</button>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Add Organization to Social Impact Directory</p>
              <div
                v-for="(item, index) in organizations"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editOrg(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteOrg(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.name"
              placeholder="Organization Name"
            />
            <textarea
              v-model="formOrg.content"
              class="border border-primary w-full p-2 mb-2"
              placeholder="About this Organization"
              style="height:400px;"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.location"
              placeholder="Location"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.website"
              placeholder="Website"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.logo"
              placeholder="Logo"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.thumbnail"
              placeholder="Thumbnail"
            />
            <p class="mb-1 font-bold">Category</p>
            <div class="flex flex-row flex-wrap">
              <div v-for="(item, index) in formOrg.category" :key="index+'cat1'">
                <p class="text-sm p-2">{{item.name}}</p>
              </div>
            </div>

            <p class="mb-1 font-bold">Add Category</p>
            <div class="flex flex-row flex-wrap">
              <div
                v-for="(item, index) in categories"
                :key="index+'cat'"
                class="flex flex-row p-1 text-sm items-center"
              >
                <p class="p-1">{{item.name}}</p>
                <p
                  class="bg-primary text-white p-1 rounded cursor-pointer"
                  @click="formOrg.category.push(item)"
                >Add</p>
              </div>
            </div>
            <p class="mb-1 font-bold">Career</p>
            <div class="flex flex-row flex-wrap">
              <div v-for="(item, index) in formOrg.career" :key="index+'cat1'">
                <p class="text-sm p-2">{{item.name}}</p>
              </div>
            </div>

            <p class="mb-1 font-bold">Add Career</p>
            <div class="flex flex-row flex-wrap">
              <div
                v-for="(item, index) in career"
                :key="index+'cat'"
                class="flex flex-row p-1 text-sm items-center"
              >
                <p class="p-1">{{item.name}}</p>
                <p
                  class="bg-primary text-white p-1 rounded cursor-pointer"
                  @click="formOrg.career.push(item)"
                >Add</p>
              </div>
            </div>

            <p class="mb-1 font-bold">Issue</p>
            <div class="flex flex-row flex-wrap">
              <div v-for="(item, index) in formOrg.issue" :key="index+'cat1'">
                <p class="text-sm p-2">{{item.name}}</p>
              </div>
            </div>

            <p class="mb-1 font-bold">Add Issue</p>
            <div class="flex flex-row flex-wrap">
              <div
                v-for="(item, index) in issue"
                :key="index+'cat'"
                class="flex flex-row p-1 text-sm items-center"
              >
                <p class="p-1">{{item.name}}</p>
                <p
                  class="bg-primary text-white p-1 rounded cursor-pointer"
                  @click="formOrg.issue.push(item)"
                >Add</p>
              </div>
            </div>
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitOrg"
            >{{formOrg.mode === 'new' ? 'Add Organization' : 'Edit Organization'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="formOrg.mode = 'new'"
              v-if="formOrg.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Add Chapters</p>
              <div
                v-for="(item, index) in chapters"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editChp(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteChp(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formChp.name"
              placeholder="Chapter Name"
            />
            <textarea
              v-model="formChp.content"
              class="border border-primary w-full p-2 mb-2"
              placeholder="About this Chapter"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formChp.location"
              placeholder="Location"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitChp"
            >{{formChp.mode === 'new' ? 'Add Chapter' : 'Edit Chapter'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="formChp.mode = 'new'"
              v-if="formChp.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="flex flex-row mb-5">
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Add Blog</p>
              <div
                v-for="(item, index) in blog"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editBlog(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteBlog(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-6/12 flex flex-col">
          <div class="p-10 flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.name"
              placeholder="Chapter Name"
            />
            <textarea
              v-model="formBlog.content"
              class="border border-primary w-full p-2 mb-2"
              placeholder="About this Chapter"
            ></textarea>
            <wysiwyg v-model="formBlog.content" />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.oneliner"
              placeholder="One Liner"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.thumbnail"
              placeholder="Thumbnail"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitBlog"
            >{{formBlog.mode === 'new' ? 'Add Blog' : 'Edit Blog'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="formBlog.mode = 'new'"
              v-if="formBlog.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";

export default {
  name: "Team",
  props: {},
  components: { Header },
  created: function() {
    this.getCat();
    this.getCareer();
    this.getIssue();
    this.getOrg();
    this.getChp();
  },
  data: function() {
    return {
      formOrg: {
        _id: "",
        name: "",
        content: "",
        location: "",
        website: "",
        thumbnail: "",
        logo: "",
        category: [],
        career: [],
        issue: [],
        mode: "new"
      },
      formChp: {
        _id: "",
        name: "",
        content: "",
        location: "",
        mode: "new"
      },
      formBlog: {
        _id: "",
        name: "",
        content: "",
        oneliner: "",
        thumbnail: "",
        mode: "new"
      },
      formCat: {
        _id: "",
        name: "",
        mode: "new"
      },
      formCareer: {
        _id: "",
        name: "",
        mode: "new"
      },
      formIssue: {
        _id: "",
        name: "",
        mode: "new"
      },
      blog: [],
      categories: [],
      career: [],
      issue: [],
      organizations: [],
      chapters: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    getCat: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/category`)
        .then(res => {
          console.log(res);
          self.categories = res.data;
        })
        .catch(e => {});
    },
    deleteCat: function(index) {
      let payload = {
        _id: this.categories[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/category/delete`, payload)
        .then(response => {
          this.getCat();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitCat: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formCat.mode === "new" ? `/api/category/` : `/api/category/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formCat)
        .then(response => {
          console.log(response);
          this.getCat();
          self.formCat = {
            name: ""
          };
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getCareer: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/career`)
        .then(res => {
          console.log(res);
          self.career = res.data;
        })
        .catch(e => {});
    },
    deleteCareer: function(index) {
      let payload = {
        _id: this.career[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/career/delete`, payload)
        .then(response => {
          this.getCareer();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitCareer: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formCareer.mode === "new" ? `/api/career/` : `/api/career/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formCareer)
        .then(response => {
          console.log(response);
          this.getCareer();
          self.formCareer = {
            name: ""
          };
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getIssue: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/issue`)
        .then(res => {
          console.log(res);
          self.issue = res.data;
        })
        .catch(e => {});
    },
    deleteIssue: function(index) {
      let payload = {
        _id: this.issue[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/issue/delete`, payload)
        .then(response => {
          this.getIssue();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitIssue: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formIssue.mode === "new" ? `/api/issue/` : `/api/issue/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formIssue)
        .then(response => {
          console.log(response);
          this.getIssue();
          self.formIssue = {
            name: ""
          };
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getOrg: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/organization`)
        .then(res => {
          console.log(res.data);
          self.organizations = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editOrg: function(index) {
      this.formOrg = this.organizations.map(x => {
        return { ...x, content: JSON.parse(x.content) };
      })[index];
      this.formOrg.mode = "edit";
    },
    deleteOrg: function(index) {
      let payload = {
        _id: this.organizations[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/organization/delete`, payload)
        .then(response => {
          this.getOrg();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitOrg: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formOrg.mode === "new"
          ? `/api/organization/`
          : `/api/organization/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formOrg)
        .then(response => {
          this.getOrg();
          self.formOrg = {
            name: "",
            content: "",
            location: "",
            website: "",
            category: "",
            career: "",
            issue: ""
          };
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    getChp: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/chapter`)
        .then(res => {
          console.log(res.data);
          self.chapters = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editChp: function(index) {
      this.formChp = this.chapters.map(x => {
        return { ...x, content: JSON.parse(x.content) };
      })[index];
      this.formChp.mode = "edit";
    },
    deleteChp: function(index) {
      let payload = {
        _id: this.chapters[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/chapter/delete`, payload)
        .then(response => {
          this.getChp();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitChp: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formChp.mode === "new" ? `/api/chapter/` : `/api/chapter/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formChp)
        .then(response => {
          this.getChp();
          self.formChp = {
            name: "",
            content: "",
            location: "",
            website: ""
          };
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    getBlog: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/blog`)
        .then(res => {
          console.log(res.data);
          self.blog = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editBlog: function(index) {
      this.formBlog = this.blog.map(x => {
        return { ...x, content: JSON.parse(x.content) };
      })[index];
      this.formBlog.mode = "edit";
    },
    deleteBlog: function(index) {
      let payload = {
        _id: this.blog[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/blog/delete`, payload)
        .then(response => {
          this.getBlog();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitBlog: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formBlog.mode === "new" ? `/api/blog/` : `/api/blog/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formBlog)
        .then(response => {
          this.getBlog();
          self.formBlog = {
            name: "",
            content: "",
            oneliner: "",
            thumbnail: ""
          };
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>