<style scoped lang="scss">
.event-bg {
  background: #87afff;
}
.banner {
  background: url("https://i.imgur.com/GHfdpoL.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    // background: linear-gradient(
    //   to bottom,
    //   rgba(255, 255, 255, 1) 0%,
    //   rgba(255, 255, 255, 1) 18%,
    //   rgba(254, 254, 254, 0) 80%,
    //   rgba(254, 254, 254, 0) 100%
    // );
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
.circle {
  height: 150px;
  width: 150px;
  background: #5669a9;
  border-radius: 50%;
}
.circle-yellow {
  height: 50px;
  width: 50px;
  background: #f6e078;
  border-radius: 50%;
  position: absolute;
  right: -25px;
  top: 100px;
}
.circle-yellow-left {
  position: absolute;
  left: -25px;
  top: 100px;
}
.circle-yellow-small {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  max-width: 20px;
  min-width: 20px;
  width: 20px;
  background: #f6e078;
  border-radius: 50%;
}
.quotes {
  .l--quote {
    position: relative;
  }
  .l--quote:before {
    content: '"';
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: -80px;
    line-height: 0px;
    font-family: "Palanquin", sans-serif;
    // transform: scaleX(-1);
  }
  .l--quote:after {
    content: '"';
    font-size: 200px;
    position: absolute;
    bottom: -40px;
    right: -80px;
    line-height: 0px;
    font-family: "Palanquin", sans-serif;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold text-center">OUR APPROACH</h1>
        </div>
      </div>
    </div>
    <!-- Section 3 -->
    <div class="quotes w-10/12 mx-auto text-center px-10 py-40">
      <p
        class="sm:l--quote content text-primary italic font-semibold text-sm sm:text-3xl mb-2"
      >If your actions inspire others to dream more, learn more, do more and become more, you are a leader.</p>
      <p class="author text-primary text-sm sm:text-2xl">John Quincy Adams</p>
    </div>
    <!-- Section 3 -->
    <div class="flex flex-col mb-10 p-10">
      <p class="text-3xl text-primary font-bold">Our Theory of Change</p>
      <div class="flex flex-col sm:flex-row">
        <div class="flex flex-col w-12/12 sm:w-4/12 justify-between order-2 sm:order-1">
          <div>
            <p class="highlight text-primary text-lg font-bold inline">KNOWLEDGE</p>
            <p
              class="text-primary mb-5 sm:mb-0"
            >Through events and SID, we democratize knwoledge and raise awareness of the vibrancy and innovative solutions of the social impact space.</p>
          </div>
          <div>
            <p class="highlight text-primary text-lg font-bold inline">ACTION & LEADERSHIP</p>
            <p
              class="text-primary mb-5 sm:mb-0"
            >The combination of knowledge, access, and community will bring forward action and leadership. Well-equipped individuals will have the resources and capability to catalyze social good lives.</p>
          </div>
        </div>

        <div
          class="flex flex-col theory-circle w-12/12 sm:w-4/12 justify-between order-1 sm:order-2"
        >
          <img src="https://i.imgur.com/CoWaVVT.png" />
        </div>

        <div class="flex flex-col w-12/12 sm:w-4/12 justify-between sm:text-right order-3">
          <div>
            <p class="highlight text-primary text-lg font-bold inline">ACCESS</p>
            <p
              class="text-primary mb-5 sm:mb-0"
            >We create access for individuals both online and offline. Online through SID: access to explore different types of social impact organizations. Offline through events: access to industry leaders.</p>
          </div>
          <div>
            <p class="highlight text-primary text-lg font-bold inline">FORMING A COMMUNITY</p>
            <p
              class="text-primary mb-5 sm:mb-0"
            >Our events and SID form a community of fellow changemakers who are dedicated to maximize positive impact. Join a community: be a member or start a chapter.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section 4 -->
    <div class="mb-10">
      <div class="flex flex-row justify-start sm:justify-end px-5 sm:px-0">
        <p class="text-primary font-bold text-3xl pr-5">Our Work</p>
        <div class="stripe flex flex-col justify-center">
          <div class="inner"></div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row">
        <div
          class="flex flex-col w-12/12 sm:w-6/12 event-bg p-10 text-white justify-center relative"
        >
          <p class="text-5xl font-bold">EVENTS</p>
          <p
            class="text-2xl font-bold"
          >Our events are organized by our Spark chapters all over the United States and Indonesia with the goal to democratize knowledge, access, and create community</p>
          <div class="circle-yellow" v-if="!isMobile"></div>
        </div>
        <img class="w-12/12 sm:w-6/12" src="https://i.imgur.com/LlGdfTE.jpg" />
      </div>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col">
      <p class="text-5xl text-primary font-bold text-center">Two Types of Events</p>
      <div class="flex flex-col sm:flex-row">
        <div class="w-12/12 sm:w-6/12 p-10">
          <img src="https://i.imgur.com/oEb0TFt.jpg" class="mb-5" />
          <p class="highlight text-primary text-3xl font-bold inline">Conferences</p>
          <p class="text-xl text-primary">Larger, Full-Day, Multiple Sessions</p>
        </div>
        <div class="w-12/12 sm:w-6/12 text-right p-10">
          <img src="https://i.imgur.com/aqxqGEx.jpg" class="mb-5" />
          <p class="highlight text-primary text-3xl font-bold inline">Workshops</p>
          <p class="text-xl text-primary">Smaller Scale, Intimate Setting</p>
        </div>
      </div>
    </div>
    <!-- Section  -->
    <div class="flex flex-col pt-10 pb-20">
      <p class="text-center font-bold text-primary text-4xl">Topics</p>
      <div class="flex flex-col sm:flex-row justify-center items-center">
        <div class="p-5">
          <div
            class="circle flex flex-col items-center justify-center text-center text-white font-bold"
          >
            <p>Social Entrepreneurship</p>
          </div>
        </div>
        <div class="p-5">
          <div
            class="circle flex flex-col items-center justify-center text-center text-white font-bold"
          >
            <p>Impact Investing</p>
          </div>
        </div>
        <div class="p-5">
          <div
            class="circle flex flex-col items-center justify-center text-center text-white font-bold"
          >
            <p>Social Impact Consulting</p>
          </div>
        </div>
        <div class="p-5">
          <div
            class="circle flex flex-col items-center justify-center text-center text-white font-bold"
          >
            <p>Shared Values</p>
          </div>
        </div>
        <div class="p-5">
          <div
            class="circle flex flex-col items-center justify-center text-center text-white font-bold"
          >
            <p>Pursuing Social Impact Careers</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="flex flex-col sm:flex-row pb-20 w-full sm:w-9/12 mx-auto">
      <div class="w-12/12 sm:w-4/12 flex flex-row justify-end mb-5 sm:mb-0">
        <img src="https://i.imgur.com/YsZkutK.png" />
      </div>
      <div class="w-12/12 sm:w-8/12 pl-10">
        <p class="text-3xl font-bold text-primary mb-2">Why Join?</p>
        <div class="text-primary text-xl mb-2 flex flex-row">
          <div class="circle-yellow-small mt-1"></div>
          <span class="pl-2">These events are designed specifically with young adults in mind</span>
        </div>
        <div class="text-primary text-xl mb-2 flex flex-row">
          <div class="circle-yellow-small mt-1"></div>
          <span
            class="pl-2"
          >We invite anyone - even those without any prior knowledge on the impact space - to attend.</span>
        </div>
        <div class="text-primary text-xl mb-2 flex flex-row">
          <div class="circle-yellow-small mt-1"></div>
          <span class="pl-2">Atmosphere of creativity, innovation, and entrepreneurship</span>
        </div>
        <div class="text-primary text-xl mb-5 flex flex-row">
          <div class="circle-yellow-small mt-1"></div>
          <span class="pl-2">Place to meet like-minded peers</span>
        </div>
        <p
          class="border border-primary inline py-2 px-5 text-primary cursor-pointer"
        >Explore Our Events</p>
      </div>
    </div>
    <!-- Section 4 -->
    <div class="mb-10">
      <div class="flex flex-col sm:flex-row">
        <img class="w-12/12 sm:w-6/12" src="https://i.imgur.com/LlGdfTE.jpg" />
        <div
          class="flex flex-col w-12/12 sm:w-6/12 event-bg p-10 text-white justify-center relative"
        >
          <p class="text-5xl font-bold">SID</p>
          <p
            class="text-2xl font-bold"
          >A centralized platform that consolidates and categorizes mission-driven organizations in the United States in order to help individuals pursue careers in the social impact space.</p>
          <p
            class="text-2xl font-bold"
          >SID demonstrates that purposeful careers are no longer isolated to the nonprofit sphere. It can be found in for-profit companies and social enterprises.</p>
          <div class="circle-yellow circle-yellow-left" v-if="!isMobile"></div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {
    isMobile: function() {
      if (screen.width <= 760) {
        console.log("mobile");
        return true;
      } else {
        console.log("nope");
        return false;
      }
    }
  },
  methods: {}
};
</script>