<style scoped lang="scss">
.event-bg {
  background: #87afff;
}
.highlight {
  background: #fff8c9;
}
.banner {
  background: url("https://i.imgur.com/yp320SZ.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    // background: linear-gradient(
    //   to bottom,
    //   rgba(255, 255, 255, 1) 0%,
    //   rgba(255, 255, 255, 1) 18%,
    //   rgba(254, 254, 254, 0) 80%,
    //   rgba(254, 254, 254, 0) 100%
    // );
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner mb-10">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold">BLOG</h1>
        </div>
      </div>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col p-10">
      <p class="text-3xl text-primary font-bold mb-10 text-center">MOST RECENT</p>
      <div class="flex flex-col sm:flex-row items-center">
        <div
          @click="$router.push('/post/'+item.slug)"
          class="flex flex-col w-12/12 sm:w-4/12 p-5"
          v-for="(item, i) in blog"
          :key="i+'blog'"
        >
          <img :src="item.thumbnail" class="cursor-pointer mb-5" />
          <p class="text-2xl font-bold">{{item.name}}</p>
          <p class="italic">{{item.date}}</p>
          <p>{{item.oneliner}}</p>
        </div>
      </div>
    </div>
    <!-- Section 5 -->
    <!-- <div class="flex flex-col p-10">
      <p class="text-3xl text-primary font-bold mb-10 text-center">MORE FROM THE BLOG</p>
      <div class="flex flex-col sm:flex-row items-center">
        <div @click="$router.push('/post')" class="flex flex-col w-12/12 sm:w-4/12 p-5">
          <img src="https://i.imgur.com/yp320SZ.jpg" class="cursor-pointer mb-5" />
          <p class="text-2xl font-bold">Lorem Ipsum</p>
          <p class="italic">January 1, 2019</p>
          <p>Lorem Ipsum Dolor SI Amet Lorem Ipsum</p>
        </div>
        <div @click="$router.push('/post')" class="flex flex-col w-12/12 sm:w-4/12 p-5">
          <img src="https://i.imgur.com/yp320SZ.jpg" class="cursor-pointer mb-5" />
          <p class="text-2xl font-bold">Lorem Ipsum</p>
          <p class="italic">January 1, 2019</p>
          <p>Lorem Ipsum Dolor SI Amet Lorem Ipsum</p>
        </div>
        <div @click="$router.push('/post')" class="flex flex-col w-12/12 sm:w-4/12 p-5">
          <img src="https://i.imgur.com/yp320SZ.jpg" class="cursor-pointer mb-5" />
          <p class="text-2xl font-bold">Lorem Ipsum</p>
          <p class="italic">January 1, 2019</p>
          <p>Lorem Ipsum Dolor SI Amet Lorem Ipsum</p>
        </div>
      </div>
    </div> -->
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
import moment from "moment";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {
    this.getBlog();
  },
  data: function() {
    return { blog: [] };
  },
  computed: {},
  methods: {
    getBlog: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/blog`)
        .then(res => {
          self.blog = res.data.reverse().map(x => {
            return {
              ...x,
              content: JSON.parse(x.content),
              date: moment(parseInt(x.date)).format("MMMM D, YYYY")
            };
          });
          console.log(this.data);
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>