<style scoped lang="scss">
.banner {
  // background: url("https://i.imgur.com/U0Ayks3.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}

.bio {
  opacity: 1;
  height: 400px;
  position: relative;
  padding: 0 5px;
  .person--inner {
    width: 290px;
    height: 100%;
    min-height: 200px;
    position: relative;
  }
  .info {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    // background: #ff0000;
    color: #fff;
  }
  .photo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.people {
  .person {
    padding: 5px;
    height: 400px;
    position: relative;
    .person--inner {
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .info {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      // background: #ff0000;
      color: #fff;
    }
    .photo {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: url("https://i.imgur.com/MsT9WdJ.jpg") no-repeat center center;
      background-size: cover;
      filter: grayscale(100%);
    }
    &:hover {
      .photo {
        filter: grayscale(0%);
      }
    }
  }
}

.carousel {
  max-height: 450px;
  img {
    padding: 10px;
  }
}
</style>


<template>
  <div class="home bg-gray-300">
    <!-- Section 1 -->
    <div class="banner mb-10" :style="`background-image: url(${chapter.thumbnail})`">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold">Spark {{chapter.name}}</h1>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div v-if="chapter.upcoming.length !== 0" class="mb-20">
      <div class="text-center mb-10">
        <p class="text-3xl font-bold">UPCOMING EVENT</p>
        <div></div>
      </div>

      <div
        class="flex flex-col sm:flex-row w-full sm:w-8/12 mx-auto mb-10 p-2 sm:p-0"
        v-for="(item, index) in chapter.upcoming"
        :key="index+'upcoming'"
      >
        <div class="w-full sm:w-4/12">
          <img :src="item.thumbnail" />
        </div>
        <div class="w-full sm:w-8/12 text-primary bg-white p-4 justify-between flex flex-col">
          <p class="text-black text-lg mb-2">{{item.content}}</p>
          <p @click="$router.push('/involvemember')" class="underline cursor-pointer">BE A MEMBER</p>
        </div>
      </div>
    </div>

    <!-- Carousel -->
    <carousel
      :paginationColor="'#9bb0e7'"
      :paginationActiveColor="'#283887'"
      :perPage="3"
      class="mb-20"
      v-if="chapter.gallery.length !== 0"
    >
      <slide
        v-for="(item, i) in chapter.gallery"
        :key="i+'gallery'"
        class="carousel flex flex-col justify-center"
      >
        <img :src="item.thumbnail" />
      </slide>
    </carousel>

    <!-- Section -->
    <div v-if="chapter.past.length !== 0">
      <div class="text-center mb-10">
        <p class="text-3xl font-bold">PAST EVENTS</p>
        <div></div>
      </div>

      <!-- Section -->
      <div
        class="flex flex-col sm:flex-row w-full sm:w-8/12 mx-auto mb-10 p-2 sm:p-0 bg-white"
        v-for="(item, index) in chapter.past"
        :key="index+'past'"
      >
        <div class="w-full sm:w-4/12">
          <img :src="item.thumbnail" />
        </div>
        <div class="w-full sm:w-8/12 bg-white p-4">
          <p class="text-xl mb-5 text-primary">{{item.title}}</p>
          <p class="text-black text-lg mb-2">{{item.content}}</p>
        </div>
      </div>
    </div>

    <!-- Carousel -->
    <carousel
      :paginationColor="'#9bb0e7'"
      :paginationActiveColor="'#283887'"
      :perPage="1"
      class="mb-10 py-40"
      v-if="chapter.testimony.length !== 0"
    >
      <slide
        v-for="(item, i) in chapter.testimony"
        :key="i+'testi'"
        class="w-full flex flex-col justify-center"
      >
        <div class="flex flex-col w-full sm:w-8/12 mx-auto text-center text-gray-700">
          <p class="text-xl mb-5">{{item.content}}</p>
          <p class="text-xl">
            <b>{{item.name}}</b>
          </p>
          <p class="text-xl">{{item.title}}</p>
        </div>
      </slide>
    </carousel>

    <!-- <div class="flex flex-col w-full sm:w-8/12 mx-auto text-center text-gray-700">
          <p
            class="text-xl mb-5"
          >"It was a joy and an honor to be a part of Spark's first annual summit. As a young professional in the social impact field, I finally felt at home at Spark. There are no other conferences that is catered towards young professionals in this niche industry."</p>
          <p class="text-xl">
            <b>ELLIE NEILSON</b>
          </p>
          <p class="text-xl">OPERATIONS AND IMPACT ASSESSMENT ASSOCIATE AT PUG AND PLAY</p>
    </div>-->

    <!-- Section -->

    <!-- Section -->
    <div v-if="chapter.team.length !== 0">
      <div class="text-center mb-10">
        <p class="text-3xl font-bold">MEET THE TEAM</p>
        <div></div>
      </div>

      <div class="people flex flex-row flex-wrap px-10">
        <div
          v-for="(item, i) in chapter.team"
          :key="i+'team'"
          class="person flex flex-col items-center justify-center w-6/12 sm:w-3/12 border-b-2 border-primary-200"
        >
          <div class="person--inner" @click="showTeam(i)">
            <div class="info flex flex-col items-center justify-center">
              <p class="text-xl font-bold">{{item.name}}</p>
              <p class="text-sm">{{item.title}}</p>
            </div>
            <div class="photo" :style="`background-image:url(${item.thumbnail});`"></div>
          </div>
        </div>
      </div>
    </div>

    <Footer />
    <Modal v-if="showModal" @close="showModal = false">
      <div class="bio flex flex-col sm:flex-row" slot="body">
        <div class="person--inner w-12/12 sm:w-4/12">
          <div class="photo" :style="`background-image:url(${current.thumbnail});`"></div>
        </div>
        <div class="flex flex-col w-12/12 sm:w-8/12 p-10">
          <div class="font-bold text-2xl">{{current.name}}</div>
          <div v-html="current.bio"></div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: "Chapter",
  props: {},
  components: { Header, Footer, Modal },
  created: function() {
    this.getChp();
  },
  data: function() {
    return {
      chapter: {
        name: "",
        location: "",
        thumbnail: "",
        upcoming: [],
        past: [],
        gallery: [],
        testimony: [],
        team: []
      },
      showModal: false,
      current: {}
    };
  },
  computed: {},
  methods: {
    showTeam: function(index) {
      this.current = this.chapter.team.filter((x, i) => i === index)[0];
      this.showModal = true;
    },
    getChp: function() {
      let self = this;
      let slug = this.$route.params.slug;
      console.log(slug);
      axios
        .get(process.env.VUE_APP_API + `/api/chapter/${slug}`)
        .then(res => {
          console.log(res.data);
          self.chapter = { ...res.data };
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>