<style scoped lang="scss">
.event-bg {
  background: #87afff;
}
.highlight {
  background: #fff8c9;
}
.banner {
  background: url("https://i.imgur.com/Pqqo5xu.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner mb-10">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold">CONTACT US</h1>
        </div>
      </div>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col">
      <div class="flex flex-col sm:flex-row items-center">
        <div class="w-full sm:w-6/12 p-10">
          <p class="text-xl text-primary mb-10">
            <span class="font-bold text-3xl">W</span>e are on a mission to transform the mindset that profit is separate frmo purpose and to ultimately spark a generation of impact-driven changemakers. Be a part of the change.
          </p>
          <p
            class="text-xl text-primary mb-10"
          >Interested in learning more? Interested in being part of the team?</p>
          <p class="text-xl text-primary">Get in touch with us. We'd love to chat</p>
        </div>
        <div class="w-full sm:w-6/12 p-10">
          <div class="flex flex-col mb-5">
            <p class="text-primary">FIRST NAME</p>
            <input class="bg-gray-300 w-full h-10" />
          </div>
          <div class="flex flex-col mb-5">
            <p class="text-primary">LAST NAME</p>
            <input class="bg-gray-300 w-full h-10" />
          </div>
          <div class="flex flex-col mb-5">
            <p class="text-primary">EMAIL NAME</p>
            <input class="bg-gray-300 w-full h-10" />
          </div>
          <div class="flex flex-col mb-5">
            <p class="text-primary">SCHOOL/COMPANY</p>
            <input class="bg-gray-300 w-full h-10" />
          </div>
          <div class="flex flex-col mb-5">
            <p class="text-primary">MESSAGE</p>
            <textarea class="h-40 bg-gray-300 w-full h-10"></textarea>
          </div>
          <p
            class="bg-primary text-white py-2 px-5 rounded mt-10 cursor-pointer hover:bg-primary-light text-center"
          >Contact Now</p>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>