<style scoped lang="scss">
.circle {
  height: 60px;
  min-height: 60px;
  height: 60px;
  max-width: 60px;
  min-width: 60px;
  max-width: 60px;
  background: #cecece;
  border-radius: 50%;
}

.banner {
  background: url("https://i.imgur.com/XYe0Xo8.jpg") no-repeat center center;
  background-size: cover;
  height: 70vh;
  width: 100%;

  .overlay {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 18%,
      rgba(254, 254, 254, 0) 80%,
      rgba(254, 254, 254, 0) 100%
    );
    width: 100%;
    height: 100%;
  }
}

input {
  border: 1px solid rgba(60, 60, 60, 0.26);
  height: 35px;
  border-radius: 3px;
  width: 100%;
  padding: 0 10px;
}
</style>


<template>
  <div>
    <div class="banner">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold text-center p-2 sm:p-0">SOCIAL IMPACT DIRECTORY</h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full py-2 px-10 bg-gray-100">
      <div class="w-12/12 flex flex-row flex-wrap justify-center mb-10">
        <div class="p-2 w-6/12 sm:w-4/12">
          <p>BY SECTOR</p>
          <div class="bg-white">
            <v-select v-model="sectorSet" :options="category"></v-select>
          </div>
        </div>
        <div class="p-2 w-6/12 sm:w-4/12">
          <p>BY LOCATION</p>
          <input v-model="filter.location" class="input" />
        </div>
        <div class="p-2 w-6/12 sm:w-4/12">
          <p>BY NAME</p>
          <input v-model="filter.name" class="input" />
        </div>
        <div class="p-2 w-6/12 sm:w-4/12">
          <p>BY CAREER PATH</p>
          <div class="bg-white">
            <v-select v-model="careerSet" :options="career"></v-select>
          </div>
        </div>
        <div class="p-2 w-6/12 sm:w-4/12">
          <p>BY TARGET ISSUE</p>
          <div class="bg-white">
            <v-select v-model="issueSet" :options="issue"></v-select>
          </div>
        </div>
      </div>
      <div class="w-12/12 px-4 flex flex-col sm:flex-row flex-wrap mb-10">
        <div
          v-for="(item, index) in filterOrg"
          :key="index"
          class="w-12/12 sm:w-4/12 p-2 cursor-pointer"
          @click="showOrg(item._id)"
        >
          <div class="bg-white h-full flex flex-row">
            <div class="w-12/12 sm:w-4/12 flex flex-row items-center p-2">
              <img :src="item.logo" class="w-full" />
            </div>
            <div class="w-12/12 sm:w-8/12 flex flex-col p-5">
              <p class="text-sm font-bold text-primary">{{item.location}}</p>
              <p class="text-2xl text-gray-700">{{item.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
    <Modal v-if="showModal" @close="showModal = false">
      <div class="flex flex-col bg-gray-100 px-0 sm:px-16" slot="body">
        <div class="flex flex-col sm:flex-row bg-white">
          <div class="flex flex-col sm:p-10 w-12/12 sm:w-4/12 text-gray-500">
            <p class="text-3xl font-bold mb-5">{{org.name}}</p>
            <!-- <p class="font-bold mb-5">Short Description of Organizatin</p> -->
            <div class="flex flex-row items-center mb-5">
              <div class="circle p-3">
                <img src="https://i.imgur.com/rafqGsA.png" />
              </div>
              <div class="flex flex-col px-5">
                <p class="text-md">CATEGORY</p>
                <p class="text-2xl font-bold">{{org.category[0]}}</p>
              </div>
            </div>
            <div class="flex flex-row items-center mb-5">
              <div class="circle p-3">
                <img src="https://i.imgur.com/S1lRz6d.png" />
              </div>
              <div class="flex flex-col px-5">
                <p class="text-md">TARGET ISSUE</p>
                <p
                  class="text-lg font-bold"
                  v-for="(item, index) in org.issue"
                  :key="index"
                >{{item}}</p>
              </div>
            </div>
            <div class="flex flex-row items-center mb-5">
              <div class="circle p-3">
                <img src="https://i.imgur.com/db46VNs.png" />
              </div>
              <div class="flex flex-col px-5">
                <p class="text-md">CAREER PATH</p>
                <p
                  class="text-lg font-bold"
                  v-for="(item, index) in org.career"
                  :key="index+'career'"
                >{{item}}</p>
              </div>
            </div>
            <div class="flex flex-row items-center mb-5">
              <div class="circle p-3">
                <img src="https://i.imgur.com/4vPa44k.png" />
              </div>
              <div class="flex flex-col px-5">
                <p class="text-md">HEADQUARTERS</p>
                <p class="text-2xl font-bold">{{org.location}}</p>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-12/12 sm:w-8/12 justify-center">
            <img class="mb-4 w-6/12" :src="org.thumbnail" />
            <img class="mb-4 w-6/12" :src="org.thumbnail2" />
            <p class="text-xl text-gray-500 mb-5">{{org.content}}</p>
            <a
              :href="org.webiste"
              target="_blank"
              class="underline text-gray-500 cursor-pointer"
            >Visit Website</a>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: "About",
  props: {},
  components: {
    Header,
    Footer,
    Modal
  },
  created: function() {
    this.getOrg();
    this.getCat();
    this.getCareer();
    this.getIssue();
  },
  data: function() {
    return {
      organizations: [],
      category: [],
      career: [],
      issue: [],
      showModal: false,
      org: {},
      filter: {
        sector: "All",
        location: "",
        name: "",
        career: "All",
        issue: "All"
      }
    };
  },
  computed: {
    sectorSet: {
      get() {
        return this.filter.sector;
      },
      set(val) {
        if (val === null) {
          this.filter.sector = "All";
          return;
        }
        this.filter.sector = val;
      }
    },
    careerSet: {
      get() {
        return this.filter.career;
      },
      set(val) {
        if (val === null) {
          this.filter.career = "All";
          return;
        }
        this.filter.career = val;
      }
    },
    issueSet: {
      get() {
        return this.filter.issue;
      },
      set(val) {
        if (val === null) {
          this.filter.issue = "All";
          return;
        }
        this.filter.issue = val;
      }
    },
    filterOrg: function() {
      let org = this.organizations;
      let fil = this.filter;
      org = org.filter(x => {
        let name = x.name.toLowerCase().includes(fil.name);
        let location = x.location.toLowerCase().includes(fil.location);
        let sector =
          fil.sector === "All" ? true : x.category.includes(fil.sector);
        let career =
          fil.career === "All" ? true : x.career.includes(fil.career);
        let issue = fil.issue === "All" ? true : x.issue.includes(fil.issue);
        // console.log(name, location, sector, career, issue);
        // fil.sector === "" ? true :
        if (name && location && sector && career && issue) {
          return true;
        }
        return false;
      });
      return org;
    }
  },
  methods: {
    getCat: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/category/`)
        .then(res => {
          console.log(res.data);
          self.category = res.data.map(x => x.name);
          self.category.unshift("All");
        })
        .catch(e => {});
    },
    getCareer: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/career/`)
        .then(res => {
          console.log(res.data);
          self.career = res.data.map(x => x.name);
          self.career.unshift("All");
        })
        .catch(e => {});
    },
    getIssue: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/issue/`)
        .then(res => {
          console.log(res.data);
          self.issue = res.data.map(x => x.name);
          self.issue.unshift("All");
        })
        .catch(e => {});
    },
    getOrg: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/organization/`)
        .then(res => {
          console.log("ORG", res.data);
          self.organizations = res.data.map(x => {
            return {
              ...x,
              content: JSON.parse(x.content),
              category: x.category.map(s => s.name),
              career: x.career.map(s => s.name),
              issue: x.issue.map(s => s.name)
            };
          });
        })
        .catch(e => {});
    },
    showOrg: function(id) {
      this.org = this.organizations.filter(x => x._id === id)[0];
      this.showModal = true;
    }
  }
};
</script>