<style scoped lang="scss">
.banner {
  background: url("https://i.imgur.com/XYe0Xo8.jpg") no-repeat center center;
  background-size: cover;
  height: 70vh;
  width: 100%;

  .overlay {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 18%,
      rgba(254, 254, 254, 0) 80%,
      rgba(254, 254, 254, 0) 100%
    );
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div>
    <div class="banner">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold">SOCIAL IMPACT DIRECTORY</h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full text-white py-2 px-12 bg-gray-100">
      <div class="w-12/12 flex flex-row flex-wrap justify-center">
        <div class="p-2 w-4/12">
          <input class="w-full p-2 mb-5 text-primary" placeholder="BY SECTOR" />
        </div>
        <div class="p-2 w-4/12">
          <input class="w-full p-2 mb-5 text-primary" placeholder="BY CITY" />
        </div>
        <div class="p-2 w-4/12">
          <input class="w-full p-2 mb-5 text-primary" placeholder="SEARCH BY NAME" />
        </div>
        <div class="p-2 w-4/12">
          <input class="w-full p-2 mb-5 text-primary" placeholder="BY TARGET ISSUE" />
        </div>
        <div class="p-2 w-4/12">
          <input class="w-full p-2 mb-5 text-primary" placeholder="BY CAREER PATH" />
        </div>
      </div>
      <div class="w-12/12 px-5 flex flex-row flex-wrap">
        <div v-for="(item, index) in organizations" :key="index" class="w-4/12 p-2">
          <div class="bg-white h-full flex flex-row">
            <div class="w-4/12">
            <img src="https://i.imgur.com/39VVIbL.png" class="w-full"/>
            </div>
            <div class="w-8/12 flex flex-col p-5">
              <p class="text-sm font-bold text-primary">{{item.location}}</p>
              <p class="text-2xl text-gray-700">{{item.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";

export default {
  name: "About",
  props: {},
  components: { Header },
  created: function() {
    this.getOrg();
  },
  data: function() {
    return {
      organizations: []
    };
  },
  computed: {},
  methods: {
    getOrg: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/organization/`)
        .then(res => {
          console.log(res.data);
          self.organizations = res.data;
        })
        .catch(e => {});
    }
  }
};
</script>