<style scoped lang="scss">
.h-info {
  min-height: 200px;
}
.h-gallery {
  min-height: 250px;
  img {
    max-height: 250px;
    max-width: 400px;
    display: inline-block;
  }
}
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
.mt--40 {
  margin-top: -40px;
}
</style>

<template>
  <div class="home mx-auto">
    <Header />
    <!-- Section 1 -->
    <div class="flex flex-row py-2 px-10 w-full">
      <div class="flex flex-col w-6/12 p-2">
        <div class="min-h-full bg-primary p-10 w-full items-center flex flex-col justify-center">
          <p class="text-secondary-light text-3xl font-bold mb-10">What is Spark?</p>
          <p class="bg-secondary-light p-2 text-sm rounded cursor-pointer" @click="$router.push('/about')">Learn More</p>
        </div>
      </div>
      <div class="flex flex-col w-6/12 p-2">
        <div class="min-h-full">
          <img src="../assets/photos/spark-62.jpg" />
        </div>
      </div>
    </div>
    <!-- Section 2 -->
    <div class="flex flex-row py-2 px-12 w-full mb-10">
      <div class="flex flex-row w-full h-gallery bg-secondary">
        <div class="p-2 pr-0">
          <img src="../assets/photos/spark-67.jpg" />
        </div>
        <div class="p-2">
          <img src="../assets/photos/spark-69.jpg" />
        </div>
        <div class="p-2 flex flex-col justify-end">
          <p class="text-primary font-bold text-lg">View More Images from our Conferences</p>
        </div>
      </div>
    </div>
    <!-- Section 3 -->
    <div class="flex flex-col py-4 px-12">
      <div class="h-info border-4 border-primary flex flex-col items-center p-2">
        <p
          class="mt--40 bg-primary text-white w-64 p-2 text-center font-bold"
        >Explore Social Media Organizations</p>
        <div class="w-full">
          <p class="text-primary text-lg px-2">Discover Organizations by type</p>
          <div class="flex flex-row">
            <div class="w-3/12 p-2">
              <div
                class="bg-primary-light hover:bg-primary text-primary hover:text-primary-light w-full h-32 flex flex-col items-center justify-center"
              >
                <p class="text-xl font-bold">Non Profits</p>
              </div>
            </div>
            <div class="w-3/12 p-2">
              <div
                class="bg-primary-light hover:bg-primary text-primary hover:text-primary-light w-full h-32 flex flex-col items-center justify-center"
              >
                <p class="text-xl font-bold">Impact Investing</p>
              </div>
            </div>
            <div class="w-3/12 p-2">
              <div
                class="bg-primary-light hover:bg-primary text-primary hover:text-primary-light w-full h-32 flex flex-col items-center justify-center"
              >
                <p class="text-xl font-bold">Social Enterprise</p>
              </div>
            </div>
            <div class="w-3/12 p-2">
              <div
                class="bg-primary-light hover:bg-primary text-primary hover:text-primary-light w-full h-32 flex flex-col items-center justify-center"
              >
                <p class="text-xl font-bold">For-profit CSR</p>
              </div>
            </div>
          </div>
          <div class="flex flex-row w-full justify-end px-2">
            <p class="border border-primary px-2 text-primary hover:bg-primary hover:text-white cursor-pointer">Explore More</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";

export default {
  name: "home",
  components: {
    Header
  }
};
</script>
