<style scoped lang="scss">
.h-info {
  min-height: 200px;
}
.h-gallery {
  min-height: 250px;
  img {
    max-height: 250px;
    max-width: 400px;
    display: inline-block;
  }
}
.mt--40 {
  margin-top: -40px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.hero {
  background: url("https://i.imgur.com/Y0ovgb0.jpg") no-repeat center center;
  background-size: cover;
  height: 90vh;
  width: 100%;

  .overlay {
    padding-left: 120px;
    padding-right: 120px;
    @media only screen and (max-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .headline {
    // background: #282d6a;
    font-size: 44px;
    width: auto;
    color: #fff;
    letter-spacing: 4px;
    line-height: 40px;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  .cta {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #222;
    }
  }
}

.quotes {
  .l--quote {
    position: relative;
  }
  .l--quote:before {
    content: '"';
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: -80px;
    line-height: 0px;
    font-family: "Palanquin", sans-serif;
    // transform: scaleX(-1);
  }
  .l--quote:after {
    content: '"';
    font-size: 200px;
    position: absolute;
    bottom: -40px;
    right: -80px;
    line-height: 0px;
    font-family: "Palanquin", sans-serif;
  }
}

.sid {
  .categories {
    .gutter {
      .inside {
        min-height: 180px;
        background: #c7d6ff;
        border-radius: 5px;
        .inside--icon {
          width: 70px;
          height: 70px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.blog {
  position: relative;
  height: 440px;

  .circle {
    position: absolute;
    bottom: -10px;
    left: -60px;
    z-index: 2;
    height: 440px;
    width: 440px;
  }

  .contents {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;

    .content {
      width: 280px;
    }
    .card {
      min-width: 250px;      
      border-radius: 5px;
      .img {
        // background: url("https://i.imgur.com/io8uZH0.jpg") no-repeat center
        //   center;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 180px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .card-info {
        min-height: 200px;
      }
    }
  }

  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 240px;
    width: 100%;
  }
}

.featured {
  position: relative;
  height: 450px;
  .circle-img {
    cursor: pointer;
    // background: url("https://i.imgur.com/NagZhcO.jpg") no-repeat center center;
    background-color: #999;
    background-repeat: no-repeat;
    background-attachment: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    position: absolute;

    .circle--inner {
      position: absolute;
      display: none;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      padding: 100px;
      .circle--inner__bg {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        background: #fff;
      }
      &:hover {
        /* This timing applies on the way IN */
        transition-timing-function: ease-out;

        /* A litttttle slower on the way in */
        transition: 0.25s;
        padding: 40px;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      border-radius: 50%;
      display: none;
      z-index: 1;
    }
    &:hover {
      .overlay {
        display: block;
      }
      .circle--inner {
        display: block;
      }
    }
  }
  .img-one {
    height: 350px;
    width: 350px;
  }
  .img-two {
    height: 330px;
    width: 330px;
    left: 40%;
    bottom: 5%;
  }
  .img-three {
    height: 250px;
    width: 250px;
    right: 0%;
    top: 5%;
  }
  .circle {
    border-radius: 50%;
    position: absolute;
  }
  .decor-one {
    height: 280px;
    width: 280px;
    left: 20%;
    bottom: 10%;
  }
  .decor-two {
    height: 240px;
    width: 240px;
    right: 15%;
    top: 15%;
  }
  .decor-three {
    height: 50px;
    width: 50px;
    left: 27%;
    top: 22%;
  }
  .decor-four {
    height: 50px;
    width: 50px;
    right: 15%;
    top: 50%;
  }
  .info {
    position: absolute;
    bottom: 0;
    right: -100px;
    .info-text {
      padding: 10px;
    }
    .info-border {
      margin-top: 30px;
      border-top: 3px solid #f6e078;
    }
  }
}
</style>

<template>
  <div class="home">
    <Header />

    <!-- Section 1 -->
    <div class="hero mb-20">
      <div class="overlay flex flex-col justify-center">
        <p class="headline highlight-blue self-start font-bold">SPARK EQUIPS</p>
        <p class="headline highlight-blue self-start font-bold">AND EMPOWERS</p>
        <p class="headline highlight-blue self-start">LEADERS TO</p>
        <p class="headline highlight-blue self-start">CATALYZE POSITIVE</p>
        <p class="headline highlight-blue self-start mb-5">IMPACT</p>
        <p class="cta self-start text-sm p-2" @click="$router.push('/approach')">LEARN MORE</p>
      </div>
    </div>

    <!-- Section 2 -->
    <div class="featured w-10/12 mx-auto mb-20" v-if="!isMobile">
      <div
        class="circle-img img-one z-10"
        :style="`background-image: url(${home.featuredOne})`"
        @click="$router.push('/chapter/los-angeles')"
      >
        <div class="circle--inner">
          <div class="circle--inner__bg flex flex-row items-center justify-center">
            <p class="text-primary text-center font-bold text-3xl">Spark LA</p>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div
        class="circle-img img-two z-10"
        :style="`background-image: url(${home.featuredTwo})`"
        @click="$router.push('/chapter/bay-area')"
      >
        <div class="circle--inner">
          <div class="circle--inner__bg flex flex-row items-center justify-center">
            <p class="text-primary text-center font-bold text-3xl">Spark SF</p>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div
        class="circle-img img-three z-10"
        :style="`background-image: url(${home.featuredThree})`"
        @click="$router.push('/chapter/jakarta')"
      >
        <div class="circle--inner">
          <div class="circle--inner__bg flex flex-row items-center justify-center">
            <p class="text-primary text-center font-bold text-3xl">Spark Jakarta</p>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="circle decor-one bg-secondary z-0"></div>
      <div class="circle decor-two bg-primary z-0"></div>
      <div class="circle decor-three bg-primary z-20"></div>
      <div class="circle decor-four bg-primary-light z-20"></div>
      <div class="info flex flex-row">
        <div class="info-text items-end flex flex-col w-6/12">
          <p class="text-primary font-bold text-3xl">FEATURED</p>
          <p class="text-primary font-bold text-3xl">EVENTS</p>
        </div>
        <div class="flex flex-col w-6/12 info-border border-secondary"></div>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="quotes w-10/12 mx-auto text-center p-10 mb-20">
      <p
        class="sm:l--quote content text-primary italic font-semibold text-sm sm:text-3xl mb-2"
      >The +Spark team put together an event that offered practical advice and inspiration for anyone interested in social impact careers. I left energized without knowing that there's a whole tide of other young professionals thinking about how to make business work for everyone.</p>
      <p
        class="author text-primary text-sm sm:text-2xl"
      >Charlotte Parker, Business Associate from Acumen</p>
    </div>

    <!-- Section 4 -->
    <div class="sid w-full sm:w-9/12 mx-auto mb-10">
      <p
        class="text-center text-primary font-bold text-sm sm:text-3xl mb-5"
      >EXPLORE SOCIAL IMPACT ORGANIZATIONS</p>
      <div class="categories flex flex-row flex-wrap">
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/ZpNCtRb.png" />
            </div>
            <p class="text-primary font-bold">Non-profit</p>
            <p
              class="text-primary text-xs"
            >Innovative and game-changing nonprofits that integrate different sectors of society - tech, business, finance - in order to achieve their social mission</p>
          </div>
        </div>
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/M1s5zEm.png" />
            </div>
            <p class="text-primary font-bold">Social Enterprise</p>
            <p
              class="text-primary text-xs"
            >Organizations that have a central social mission to achieve large-scale transformational benefits that benefit the society</p>
          </div>
        </div>
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/SWA6sJe.png" />
            </div>
            <p class="text-primary font-bold">Impact Investors</p>
            <p
              class="text-primary text-xs"
            >Investing in companies and funds that will reap both financial and social returns</p>
          </div>
        </div>
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/4ifxxcN.png" />
            </div>
            <p class="text-primary font-bold">For-Profit CSR</p>
            <p
              class="text-primary text-xs"
            >Private sector companies that integrate a social mission into their business models and lead the way in the creation of shared values.</p>
          </div>
        </div>
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/zywsoOp.png" />
            </div>
            <p class="text-primary font-bold">Social Impact Consulting</p>
            <p
              class="text-primary text-xs"
            >Social impact consultants help nonprofits, foundations, governments and mission-driven organizations solve complex problems by offering a broad array of services including strategic planning, evaluation, research an implementation.</p>
          </div>
        </div>
        <div class="category w-6/12 sm:w-4/12 gutter p-1 flex-grow flex">
          <div class="inside p-4 flex flex-col justify-start">
            <div class="inside--icon flex flex-row items-center">
              <img src="https://i.imgur.com/5NDZFSP.png" />
            </div>
            <p class="text-primary font-bold">Ecosystem Builders</p>
            <p
              class="text-primary text-xs"
            >Key players in creating the infrastructure in order for social enterprises to thrive. We define ecosystem builders as social enterprises enablers that give assistance in financing, advising, and knowledge creation</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 5 -->
    <div class="blog" v-if="!isMobile">
      <!-- <img class="circle" src="https://i.imgur.com/BmFERpi.png" /> -->
      <div class="bg bg-primary"></div>
      <div class="contents flex flex-row justify-center px-20">
        <div v-for="(item, i) in blog" :key="i+'blog'" class="content flex flex-col p-5">
          <div
            @click="$router.push('/post/'+item.slug)"
            class="cursor-pointer card flex flex-col bg-white"
          >
            <div class="img" :style="`background-image: url(${item.thumbnail})`"></div>
            <div class="p-2 card-info flex flex-col justify-between">
              <div class="flex flex-col text-wrap">
                <p class="tag text-primary text-sm">SPARK BLOG</p>
                <p class="title text-primary font-bold text-2xl">{{item.name}}</p>
              </div>
              <p class="cta text-primary text-xs underline cursor-pointer">READ MORE</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";

export default {
  name: "home",
  components: {
    Header,
    Footer
  },
  created: function() {
    this.getHome();
    this.getBlog();
  },
  data: function() {
    return {
      blog: [],
      home: {}
    };
  },
  computed: {
    isMobile: function() {
      if (screen.width <= 760) {
        console.log("mobile");
        return true;
      } else {
        console.log("nope");
        return false;
      }
    }
  },
  methods: {
    getHome: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/home`)
        .then(res => {
          console.log(res.data);
          self.home = res.data[0];
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    getBlog: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/blog`)
        .then(res => {
          self.blog = res.data.reverse().slice(0, 3);
          console.log(this.data);
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>
