<style scoped lang="scss">
.circle {
  height: 300px;
  width: 300px;
  background: #4357a2;
  border-radius: 50%;
  color: #fff;
}
.circle-small {
  background: #fde88a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
}
.event-bg {
  background: #87afff;
}
.banner {
  background: url("https://i.imgur.com/U0Ayks3.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner mb-10">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold text-center">MEMBER REGISTRATION</h1>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="flex flex-col items-center sm:py-40 p-5">
      <p
        class="text-center text-3xl text-primary font-medium mb-20 w-full sm:w-8/12"
      >Be a part of our global network of passionate individuals dedicated to making a positive difference.</p>
      <p
        class="highlight text-primary text-3xl font-semibold text-center"
      >No registration fee required.</p>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col mb-10">
      <div class="flex flex-row items-center mb-5">
        <div class="stripe flex flex-row justify-center items-center">
          <div class="inner"></div>
        </div>
        <p class="text-4xl text-primary font-bold pl-2">WHY BE A MEMBER?</p>
      </div>
      <div class="w-full sm:w-9/12 mx-auto p-5 sm:p-0">
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">1</p>
          <p class="text-3xl text-primary px-5">Priority and discounted access to spark conferences</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">2</p>
          <p
            class="text-3xl text-primary px-5"
          >Full access to our Social Impact Directory to more than 100 organizations</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">3</p>
          <p
            class="text-3xl text-primary px-5"
          >Exclusive networking opportunities with top professionals from organizations</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">4</p>
          <p
            class="text-3xl text-primary px-5"
          >Be a part of our mission in sparking a generation of purpose-driven and impactful leaders</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center mb-10 text-primary p-2 sm:p-0">
      <p class="text-3xl font-bold text-center mb-10">MEMBER FORM</p>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Full name:</div>
        <input v-model="form.name" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Password:</div>
        <input
          v-model="form.password"
          class="h-10 bg-gray-300 w-full sm:w-8/12 px-3"
          type="password"
        />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Email address:</div>
        <input v-model="form.email" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">University/organization:</div>
        <input v-model="form.university" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Major:</div>
        <input v-model="form.major" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Graduating year:</div>
        <input v-model="form.graduating" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Nationality:</div>
        <input v-model="form.nationality" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Gender:</div>
        <input v-model="form.gender" class="h-10 bg-gray-300 w-full sm:w-8/12 px-3" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12">
        <div class="w-12/12 sm:w-4/12 text-lg">Where did you hear us from:</div>
        <div class="w-full sm:w-8/12 flex flex-row flex-wrap">
          <div class="flex flex-row items-center w-6/12">
            <input v-model="form.wheredidyouhear" type="radio" name="gender" value="instagram" />
            <p class="px-5">Instagram</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input v-model="form.wheredidyouhear" type="radio" value="eventbrite" />
            <p class="px-5">Eventbrite</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input v-model="form.wheredidyouhear" type="radio" value="facebook" />
            <p class="px-5">Facebook</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input v-model="form.wheredidyouhear" type="radio" value="website" />
            <p class="px-5">Website</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input v-model="form.wheredidyouhear" type="radio" value="friend" />
            <p class="px-5">Friend</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <p class="px-5">Other</p>
            <input v-model="form.wheredidyouhear" type="text" class="border" />
          </div>
        </div>
      </div>
      <p
        class="bg-primary text-white py-2 px-5 rounded mt-10 cursor-pointer hover:bg-primary-light w-full sm:w-auto text-center"
        @click="submit"
      >Register Now</p>
    </div>
    <div class="flex flex-row justify-center mb-10 text-primary p-2 sm:p-0">
      <p class="text-3xl">
        Have questions? We'd love to chat.
        <span
          class="underline cursor-pointer"
          @click="$router.push('/contact')"
        >Contact us.</span>
      </p>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {},
  data: function() {
    return {
      form: {
        email: "",
        password: "",
        name: "",
        university: "",
        major: "",
        graduating: "",
        nationality: "",
        gender: "",
        wheredidyouhear: ""
      },
      errors: []
    };
  },
  computed: {},
  methods: {
    submit: function() {
      axios
        .post(process.env.VUE_APP_API + `/api/auth/register/`, this.form)
        .then(response => {
          this.$router.push({
            name: "RegisterSuccess"
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>