<style scoped lang="scss">
.circle {
  height: 300px;
  width: 300px;
  background: #cecece;
  border-radius: 50%;
}
.event-bg {
  background: #87afff;
}
.highlight {
  background: #fff8c9;
}
.banner {
  background: url("https://i.imgur.com/Pqqo5xu.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    // background: linear-gradient(
    //   to bottom,
    //   rgba(255, 255, 255, 1) 0%,
    //   rgba(255, 255, 255, 1) 18%,
    //   rgba(254, 254, 254, 0) 80%,
    //   rgba(254, 254, 254, 0) 100%
    // );
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <Header></Header>

    <div class="flex flex-col mb-10">
      <div class="flex flex-col flex-grow items-center justify-center pt-10">
        <h1 class="text-5xl font-bold highlight mb-10">Register to be a member</h1>
        <p
          class="w-6/12"
        >Be a part of our global network of passionate individuals dedicated to making a positive difference. No registration fee required.</p>
      </div>
    </div>
    <div class="w-full sm:w-10/12 mx-auto flex flex-col py-10 px-5">
      <p
        class="text-3xl italic text-center"
      >"We strive for individual participation that can catalyze economic and social advacnement on a global scale."</p>
      <p class="text-3xl text-right">PIERRE OMIDYAR</p>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col items-center mb-10">
      <h1 class="text-3xl text-primary font-bold mb-5">Why be a member?</h1>
      <div class="flex flex-row items-center mb-5">
        <p class="text-3xl text-primary highlight font-bold">1.</p>
        <p class="text-xl px-5">Priority and discounted access to Spark conferences</p>
      </div>
      <div class="flex flex-row items-center mb-5">
        <p class="text-3xl text-primary highlight font-bold">2.</p>
        <p
          class="text-xl px-5"
        >Full Access to our Social Impact Directory of more than 100 organizations</p>
      </div>
      <div class="flex flex-row items-center mb-5">
        <p class="text-3xl text-primary highlight font-bold">3.</p>
        <p
          class="text-xl px-5"
        >Monthly newsletter about the exciting updates and opportunities in the social impact world</p>
      </div>
      <div class="flex flex-row items-center mb-5">
        <p class="text-3xl text-primary highlight font-bold">4.</p>
        <p
          class="text-xl px-5"
        >Exclusive networking opportunities with top professionals from organizations</p>
      </div>
      <div class="flex flex-row items-center mb-5">
        <p class="text-3xl text-primary highlight font-bold">5.</p>
        <p
          class="text-xl px-5"
        >Be a part of our mission in sparking a generation of purpose-driven and impactful leaders</p>
      </div>
    </div>

    <div class="flex flex-col items-center mb-10">
      <p class="text-3xl font-bold text-center mb-10">MEMBER FORM</p>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Full name:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Email address:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">University/organization:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Major:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Graduating year:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Nationality:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12 items-center mb-5">
        <div class="w-4/12 text-lg">Gender:</div>
        <input class="h-10 bg-gray-300 w-8/12" />
      </div>
      <div class="flex flex-row w-6/12">
        <div class="w-4/12 text-lg">Where did you hear us from:</div>
        <div class="w-8/12 flex flex-row flex-wrap">
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Instagram</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Eventbrite</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Facebook</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Website</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Friend</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <p class="px-5">Other</p>
            <input type="text" class="border" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center mb-10">
      <p class="text-3xl">
        Have questions? We'd love to chat.
        <span class="underline cursor-pointer" @click="$router.push('/contact')">Contact us.</span>
      </p>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "About",
  props: {},
  components: { Header,
    Footer },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>