<style scoped lang="scss">
.circle {
  height: 300px;
  width: 300px;
  background: #4357a2;
  border-radius: 50%;
  color: #fff;
}
.circle-small {
  background: #fde88a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
}
.event-bg {
  background: #87afff;
}
.banner {
  background: url("https://i.imgur.com/U0Ayks3.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner mb-10">
      <div class="overlay flex flex-col">
        <Header></Header>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h1 class="text-5xl text-primary font-bold text-center">START A CHAPTER</h1>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="flex flex-col items-center sm:py-40 p-5">
      <p class="text-center text-3xl text-primary font-medium mb-20 w-full sm:w-8/12">
        Spark chapters are our
        <b>local champions</b> and
        <b>close-knit</b> communities of
        <b>driven</b> and
        <b>passionate</b> individuals who are
        <b>eager</b> in
        <b>leading positive change.</b>
      </p>
      <p
        class="highlight text-primary text-3xl font-semibold text-center"
      >Our local chapters are the engine of Spark.</p>
    </div>
    <!-- Section 5 -->
    <div class="flex flex-col mb-10">
      <div class="flex flex-row items-center mb-5">
        <div class="stripe flex flex-row justify-center items-center">
          <div class="inner"></div>
        </div>
        <p class="text-4xl text-primary font-bold pl-2">BENEFITS OF STARTING A CHAPTER</p>
      </div>
      <div class="w-full sm:w-9/12 mx-auto p-5 sm:p-0">
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">1</p>
          <p class="text-3xl text-primary px-5">Build your leadership and entrepreneurial skills</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">2</p>
          <p
            class="text-3xl text-primary px-5"
          >Cultivate connections with peers and top social impact organizations</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">3</p>
          <p
            class="text-3xl text-primary px-5"
          >Be involve in the creation of our Social Impact Directory (SID)</p>
        </div>
        <div class="flex flex-row items-center mb-5">
          <p class="text-3xl text-primary circle-small font-bold">4</p>
          <p
            class="text-3xl text-primary px-5"
          >Help organize events that align with the mission and vision of Spark for their local communities</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col mb-10">
      <div class="flex flex-row items-center mb-5 justify-end p-5 sm:p-0">        
        <p class="text-4xl text-primary font-bold pr-2">LEARN MORE ABOUT OUR CHAPTERS</p>
        <div class="stripe flex flex-row justify-center items-center">
          <div class="inner"></div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-10/12 mx-auto">
        <div class="w-12/12 sm:w-4/12 p-5 flex flex-col items-center">
          <div class="circle flex flex-row items-center justify-center">
            <p class="text-xl font-bold">LOS ANGELES</p>
          </div>
        </div>
        <div class="w-12/12 sm:w-4/12 p-5 flex flex-col items-center">
          <div class="circle flex flex-row items-center justify-center">
            <p class="text-xl font-bold">BERKELEY</p>
          </div>
        </div>
        <div class="w-12/12 sm:w-4/12 p-5 flex flex-col items-center">
          <div class="circle flex flex-row items-center justify-center">
            <p class="text-xl font-bold">JAKARTA</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center mb-10 text-primary p-2 sm:p-0">
      <p class="text-3xl font-bold text-center mb-10">START A CHAPTER FORM</p>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Full name:</div>
        <input class="h-10 bg-gray-300 w-full sm:w-8/12" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Email address:</div>
        <input class="h-10 bg-gray-300 w-full sm:w-8/12" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Phone:</div>
        <input class="h-10 bg-gray-300 w-full sm:w-8/12" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">Country:</div>
        <input class="h-10 bg-gray-300 w-full sm:w-8/12" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12 items-center mb-5">
        <div class="w-12/12 sm:w-4/12 text-lg">City:</div>
        <input class="h-10 bg-gray-300 w-full sm:w-8/12" />
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:w-6/12">
        <div class="w-12/12 sm:w-4/12 text-lg">Which best describes you:</div>
        <div class="w-12/12 sm:w-8/12 flex flex-row flex-wrap">
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">High school student</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Professional</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Undergraduate</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Entrepreneur</p>
          </div>
          <div class="flex flex-row items-center w-6/12">
            <input type="radio" name="gender" value="male" />
            <p class="px-5">Masters</p>
          </div>
        </div>
      </div>
      <p
        class="bg-primary text-white py-2 px-5 rounded mt-10 cursor-pointer hover:bg-primary-light w-full sm:w-auto text-center"        
      >Start Now</p>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>