<style scoped lang="scss">
.circle {
  height: 100px;
  width: 100px;
  background-color: #cecece;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.event-bg {
  background: #87afff;
}
.highlight {
  background: #fff8c9;
}
.banner {
  // background: url("https://i.imgur.com/yp320SZ.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .overlay {
    // background: linear-gradient(
    //   to bottom,
    //   rgba(255, 255, 255, 1) 0%,
    //   rgba(255, 255, 255, 1) 18%,
    //   rgba(254, 254, 254, 0) 80%,
    //   rgba(254, 254, 254, 0) 100%
    // );
    background: rgba(255, 255, 255, 0.5);
    // width: 100%;
    height: 100%;
  }
}
</style>


<template>
  <div class="home">
    <!-- Section 1 -->
    <div class="banner mb-10 flex flex-col" :style="`background-image: url(${blog.thumbnail})`">
      <Header></Header>
      <div class="flex-grow flex flex-col items-center p-20">
        <div class="overlay flex flex-col w-8/12">
          <div class="flex flex-col flex-grow items-center justify-center p-5">
            <h1 class="text-5xl text-primary font-bold text-center">{{blog.name}}</h1>
            <p class="text-3xl text-primary font-bold italic text-center">{{blog.oneliner}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col mb-10 px-20">
      <p class="text-5xl font-bold">{{blog.name}}</p>
      <p class="text-3xl" v-html="blog.content"></p>
    </div>
    <!-- Section 5 -->
    <!-- <div class="flex flex-col p-20">
      <div class="flex flex-row items-center">
        <div class="flex flex-col w-6/12 p-5">
          <img src="https://i.imgur.com/yp320SZ.jpg" class="mb-5" />
          <p class="italic">Caption look like this</p>
        </div>
        <div class="flex flex-col w-6/12 p-5">
          <img src="https://i.imgur.com/yp320SZ.jpg" class="mb-5" />
          <p class="italic">Caption look like this</p>
        </div>
      </div>
    </div>-->

    <!-- Section 6 -->
    <div class="flex flex-col px-20">
      <div class="flex flex-col border-t-2 pt-10">
        <div class="flex flex-row justify-center mb-10">
          <div class="w-2/12 lg:w-1/12">
            <div class="circle" :style="`background-image: url(${blog.authorthumbnail})`"></div>
          </div>
          <div class="flex flex-col justify-center flex-grow px-5">
            <p>WRITTEN BY</p>
            <p class="text-xl font-bold">{{blog.author}}</p>
            <p>{{blog.authorbio}}</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";

export default {
  name: "About",
  props: {},
  components: { Header, Footer },
  created: function() {
    this.getBlog();
  },
  data: function() {
    return {
      blog: {}
    };
  },
  computed: {},
  methods: {
    getBlog: function() {
      let self = this;
      let slug = this.$route.params.slug;
      console.log(slug);
      axios
        .get(process.env.VUE_APP_API + `/api/blog/${slug}`)
        .then(res => {
          console.log(res.data);
          self.blog = { ...res.data, content: JSON.parse(res.data.content) };
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>