<style scoped lang="scss">
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow h-full justify-center text-white py-2 px-10">
      <!-- Section 1 -->
      <div class="flex flex-row justify-center mb-5">
        <div class="p-2 w-full sm:w-6/12 flex flex-col">
          <div class="text-primary p-5 flex flex-col">
            <p
              class="text-2xl mb-5 font-bold text-center"
            >Thank you for joining Spark! You can login to your account below :)</p>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="form.email"
              placeholder="Your Email"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="form.password"
              placeholder="Password"
              type="password"
            />
            <button class="bg-primary w-full text-white p-2 font-bold mb-2" @click="submit">Login</button>
            <p>Forgot Password?</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, Footer },
  created: function() {},
  data: function() {
    return {
      form: {
        email: "",
        password: ""
      },
      errors: []
    };
  },
  computed: {},
  methods: {
    submit(evt) {
      evt.preventDefault();
      axios
        .post(process.env.VUE_APP_API + `/api/auth/login/`, this.form)
        .then(response => {
          console.log(response.data);
          localStorage.setItem("jwtToken", response.data.token);
          localStorage.setItem("group", response.data.group);
          localStorage.setItem("name", response.data.name);
          this.$store.dispatch("change", { key: "loggedIn", val: true });
          this.$router.push({
            name: "Home"
          });
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>