<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow h-full justify-center text-white py-2 px-10">
      <!-- Section 1 -->
      <div class="flex flex-row mb-5">
        <div class="p-2 w-6/12 flex flex-col">
          <div class="bg-secondary-light p-10 flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Why should I become a member?</p>
              <div class="flex flex-col">
                <ul class="list-decimal px-4">
                  <li>
                    Join
                    <b>10,000</b> others purpose-driven and impactful leaders
                  </li>
                  <li>Access to full library of articles and social impact directory</li>
                  <li>Priority access to Spark conferences</li>
                  <li class="font-bold">Spark a generation of purpose-driven and impactful leaders</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-2 w-6/12 flex flex-col">
          <div class="border-4 border-primary text-primary p-5 flex flex-col items-center">
            <p class="text-2xl mb-5 font-bold">Become a Member</p>
            <input class="border border-primary w-full p-2 mb-2" v-model="form.email" placeholder="Your Email" type="email"/>
            <input class="border border-primary w-full p-2 mb-2" v-model="form.name" placeholder="Your Name" />
            <input
              v-model="form.password"
              class="border border-primary w-full p-2 mb-2"
              placeholder="Password"
              type="password"
            />
            <button class="bg-primary w-full text-white p-2 font-bold" @click="submit">Register</button>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import axios from 'axios'
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Team",
  props: {},
  components: { Header,
    Footer },
  created: function() {},
  data: function() {
    return {
      form: {
        email: "",
        password: "",
        name: ""
      },
      errors: []
    };
  },
  computed: {},
  methods: {
    submit: function() {     
      axios
        .post(process.env.VUE_APP_API + `/api/auth/register/`, this.form)
        .then(response => {          
          this.$router.push({
            name: "Login"
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>