<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto">
    <Header></Header>
    <div class="w-full text-white py-2 px-10">
      <!-- Section 1 -->
      <div class="flex flex-row mb-5">
        <div class="p-2 w-6/12 flex flex-col">
          <div class="bg-primary p-10 flex flex-col h-full justify-between">
            <div>
              <p class="text-2xl mb-5 text-secondary font-bold">Why should I start a chapter?</p>
              <div class="flex flex-col">
                <ul class="list-decimal px-4">
                  <li>Connect with like-minded people in your city</li>
                  <li>Pioneer the social impact movement</li>
                  <li>Empower others around you</li>
                  <li class="font-bold">Spark a generation of purpose-driven and impactful leaders</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-2 w-6/12 flex flex-col">
          <div class="border-4 border-primary text-primary p-5 flex flex-col items-center">
            <p class="text-2xl mb-5 font-bold">Start a Chapter</p>
            <input class="border border-primary w-full p-2 mb-2" placeholder="Your Email" />
            <input class="border border-primary w-full p-2 mb-2" placeholder="Your Name" />
            <textarea
              class="border border-primary w-full p-2 mb-2"
              placeholder="Why do you want to start a chapter?"
            ></textarea>
            <button class="bg-primary w-full text-white p-2 font-bold">Submit Chapter</button>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-row mb-5">
        <div class="p-2 w-7/12 flex flex-col">
          <img src="../assets/photos/spark-69.jpg" />
        </div>
        <div class="p-2 w-5/12 flex flex-col">
          <div class="bg-secondary p-10 flex flex-col h-full justify-between">
            <div>
              <p class="text-2xl mb-5 text-primary font-bold">Resources for Chapter Leaders</p>
              <div class="flex flex-col text-primary">
                <p>Article 1</p>
                <p>Article 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Team",
  props: {},
  components: { Header,
    Footer },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>