<style scoped lang="scss">
.bio {
  opacity: 1;
  height: 400px;
  position: relative;
  padding: 0 5px;
  .person--inner {
    width: 290px;
    height: 100%;
    min-height: 200px;
    position: relative;
  }
  .info {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    // background: #ff0000;
    color: #fff;
  }
  .photo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.team {
  .people {
    .person {
      padding: 5px;
      height: 400px;
      position: relative;
      .person--inner {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .info {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        // background: #ff0000;
        color: #fff;
      }
      .photo {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: url("https://i.imgur.com/MsT9WdJ.jpg") no-repeat center
          center;
        background-size: cover;
        filter: grayscale(100%);
      }
      &:hover {
        .photo {
          filter: grayscale(0%);
        }
      }
    }
  }
}
</style>


<template>
  <div class="home">
    <Header class="mb-10"></Header>
    <!-- Section 1 -->
    <div class="team flex flex-col w-12/12 sm:w-10/12 mx-auto mb-10 p-2 sm:p-0">
      <div class="border-b-2 border-primary-200 mb-2">
        <p class="font-bold text-3xl text-primary">TEAM MEMBERS</p>
      </div>
      <div class="people flex flex-row flex-wrap">
        <div
          v-for="(item, i) in team"
          :key="i"
          class="person flex flex-col items-center justify-center w-6/12 sm:w-3/12 border-b-2 border-primary-200"
        >
          <div class="person--inner" @click="showTeam(item._id)">
            <div class="info flex flex-col items-center justify-center">
              <p class="text-xl font-bold">{{item.name}}</p>
              <p class="text-sm">{{item.title}}</p>
            </div>
            <div class="photo" :style="`background-image:url(${item.thumbnail});`"></div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
    <Modal v-if="showModal" @close="showModal = false">
      <div class="bio flex flex-col sm:flex-row" slot="body">
        <div class="person--inner w-12/12 sm:w-4/12">
          <div class="photo" :style="`background-image:url(${current.thumbnail});`"></div>
        </div>
        <div class="flex flex-col w-12/12 sm:w-8/12 p-10">
          <div class="font-bold text-2xl">{{current.name}}</div>
          <div v-html="current.bio"></div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Modal from "@/components/Modal.vue";
import axios from "axios";

export default {
  name: "Team",
  props: {},
  components: { Header, Footer, Modal },
  created: function() {
    this.getTeam();
  },
  data: function() {
    return {
      bio: false,
      showModal: false,
      team: [],
      current: {}
    };
  },
  computed: {},
  methods: {
    getTeam: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/team`)
        .then(res => {
          console.log(res.data);
          self.team = res.data.map(x => {
            return {
              ...x,
              bio: JSON.parse(x.bio)
            };
          });
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    showTeam: function(id) {
      this.current = this.team.filter(x => x._id === id)[0];
      this.showModal = true;
    }
  }
};
</script>