<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto">
    <Header></Header>
    <div class="w-full text-white py-2 px-10">
      <!-- Section 1 -->
      <div class="flex flex-row mb-5">
        <div class="p-2 w-6/12 flex flex-col">
          <div class="bg-primary p-10 flex flex-col h-full justify-between">
            <div>
              <p class="text-2xl mb-5 text-secondary font-bold">We are Spark!</p>
              <div class="flex flex-col">
                <p>Info on Spark here</p>
                <p>Announcements here</p>
              </div>
            </div>
            <p
              class="bg-secondary-light p-2 text-sm text-primary text-center rounded cursor-pointer"
            >More Announcement</p>
          </div>
        </div>
        <div class="p-2 w-6/12 flex flex-col">
          <img src="../assets/photos/spark-team.jpg" />
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-row mb-5">
        <div class="p-2 w-8/12 flex flex-col">
          <img src="../assets/photos/spark-69.jpg" />
        </div>
        <div class="p-2 w-4/12 flex flex-col">
          <div class="bg-secondary p-10 flex flex-col h-full justify-between">
            <div>
              <p class="text-2xl mb-5 text-primary font-bold">Testimonies</p>
              <div class="flex flex-col text-primary">
                <p>Testimony 1</p>
                <p>Testimony 2</p>
              </div>
            </div>
            <p
              class="bg-primary p-2 text-sm text-white text-center rounded cursor-pointer"
            >More Testimonies</p>
          </div>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="p-2">
        <div class="border-4 border-primary text-primary p-5 mb-5 flex flex-col items-center">
          <div class="w-6/12 flex flex-col items-center">
            <p class="text-2xl mb-5 font-bold">Meet the Team</p>
            <img src="../assets/photos/IMG_9404.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  name: "Team",
  props: {},
  components: { Header },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>