<style scoped lang="scss">
.mainmenubtn {
  border: none;
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
}

.accent {
  // background: #282d6a;
  // border-radius: 5px;
  // color: #fff;
  border-bottom: 4px solid #283887;
}

.mainmenubtn:hover {
  // background-color: #c7d6ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: #fff;
  min-width: 200px;
  position: absolute;
  z-index: 2;
  z-index: 10 !important;
}
.dropdown-child a {
  color: #282d6a;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown-child a:hover {
  background: #c7d6ff;
}
.dropdown:hover .dropdown-child {
  display: block;
}
</style>


<template>
  <div class="dropdown">
    <button
      :class="accent ? 'mainmenubtn text-primary accent' : 'mainmenubtn text-primary'"
    >{{label}}</button>
    <div class="dropdown-child">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Dropdown",
  props: { label: String, accent: Boolean },
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>