<style scoped lang="scss">
</style>


<template>
  <div class="contact w-full bg-gray-200 flex flex-col items-center p-5 text-primary">
    <p @click="$router.push('/contact')" class="mb-2">CONNECT WITH US</p>
    <div class="flex flex-row mb-2">
      <p class="px-2">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </p>
      <p class="px-2">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </p>
      <p class="px-2">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </p>
    </div>
    <div class="flex flex-row text-sm">
      <p class="px-2">REPORTS</p>
      <p class="px-2">PRIVACY POLICY</p>
      <p class="px-2">TERMS OF CONDITIONS</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: {},
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>