<style scoped lang="scss">
.header {
  z-index: 10 !important;
}
</style>


<template>
  <div class="flex flex-col sm:flex-row items-center justify-between px-10 py-2 w-full header">
    <div class="flex flex-row items-center" v-if="!isMobile">
      <img
        src="https://i.imgur.com/BmFERpi.png"
        style="height:50px;width:50px;"
        @click="$router.push('/')"
        class="cursor-pointer"
      />
      <!-- <h1 class="text-2xl font-bold p-2 text-primary cursor-pointer" @click="$router.push('/')">Spark</h1> -->
      <div class="flex flex-row">
        <Dropdown label="Our Story">
          <a @click="$router.push('/about')">About Us</a>
          <a @click="$router.push('/approach')">Our Approach</a>
          <a @click="$router.push('/team')">Meet the Team</a>
        </Dropdown>
        <Dropdown label="Our Chapters">
          <a
            v-for="(item,index) in chapters"
            :key="index"
            :href="`/chapter/${item.slug}`"
          >Spark {{item.name}}</a>
        </Dropdown>
        <Dropdown label="Social Impact Directory">
          <a @click="$router.push('/directory')">Directory</a>
        </Dropdown>
        <Dropdown label="Resources">
          <a @click="$router.push('/blog')">Blog</a>
        </Dropdown>
        <Dropdown label="Get Involved" :accent="true">
          <a @click="$router.push('/involvemember')" v-if="!isLoggedIn">Register to be a Member</a>
          <a @click="$router.push('/involvechapter')">Start a Chapter</a>
          <a @click="$router.push('/login')" v-if="!isLoggedIn">Login</a>
          <a @click="$router.push('/contact')">Contact Us</a>
        </Dropdown>
      </div>
    </div>
    <div class="flex flex-row" v-if="!isMobile">
      <Dropdown :label="'Hi, '+name" v-if="isLoggedIn">
        <a @click="$router.push('/admin')" v-if="group === 'Admin'">Admin</a>
        <a @click="logout">Logout</a>
      </Dropdown>
      <!-- <Dropdown label="Accounts">
        <a @click="$router.push('/register')">Register</a>
        <a @click="$router.push('/login')">Login</a>
      </Dropdown>-->
    </div>
    <div class="flex flex-row justify-between w-full items-center" v-if="isMobile">
      <img
        src="https://i.imgur.com/BmFERpi.png"
        style="height:50px;width:50px;"
        @click="$router.push('/')"
        class="cursor-pointer"
      />
      <i class="fa fa-bars text-3xl text-primary" aria-hidden="true" @click="showModal = true"></i>
    </div>

    <Modal v-if="showModal" @close="showModal = false">
      <div class="text-primary text-center" slot="body">
        <p class="p-5" @click="$router.push('/about')">About Us</p>
        <p class="p-5" @click="$router.push('/approach')">Our Approach</p>
        <p class="p-5" @click="$router.push('/team')">Meet the Team</p>
        <p class="p-5" v-for="(item,index) in chapters" :key="index">
          <a :href="`/chapter/${item.slug}`">Spark {{item.name}}</a>
        </p>
        <p class="p-5" @click="$router.push('/directory')">Social Impact Directory</p>
        <p class="p-5" @click="$router.push('/blog')">Blog</p>
        <p class="p-5" @click="$router.push('/involvemember')">Register as a Member</p>
        <p class="p-5" @click="$router.push('/involvechapter')">Start a Chapter</p>
        <p class="p-5" @click="$router.push('/login')">Login</p>
        <p class="p-5" @click="$router.push('/contact')">Contact Us</p>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
import Dropdown from "@/components/Dropdown.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: "Header",
  props: {},
  components: { Dropdown, Modal },
  created: function() {
    this.getChp();
  },
  data: function() {
    return {
      chapters: [],
      showModal: false
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters["state"].loggedIn;
    },
    name: function() {
      return localStorage.getItem("name");
    },
    group: function() {
      return localStorage.getItem("group");
    },
    isMobile: function() {
      if (screen.width <= 760) {
        console.log("mobile");
        return true;
      } else {
        console.log("nope");
        return false;
      }
    }
  },
  methods: {
    getChp: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/chapter`)
        .then(res => {
          console.log(res.data);
          self.chapters = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    logout: function() {
      this.$store.dispatch("change", { key: "loggedIn", val: false });
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("name");
      localStorage.removeItem("group");
    }
  }
};
</script>