<style scoped lang="scss">
</style>


<template>
  <div class="py-10 text-primary">
    <p class="mr-5">Admin Panel</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin')"
    >Home</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin/sid')"
    >SID</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin/blog')"
    >Blog</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin/team')"
    >Team</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin/chapter')"
    >Chapter</p>
    <p
      class="px-2 bg-primary text-white cursor-pointer rounded hover:bg-primary-light mr-5"
      @click="$router.push('/admin/member')"
    >Member</p>
  </div>
</template>

<script>
export default {
  name: "AdminHeader",
  props: {},
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>