<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow text-primary py-2 px-10">
      <AdminHeader class="flex"></AdminHeader>
      <!-- Section 3 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Blog</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.blog = !show.blog"
          >{{!show.blog ? 'Add' : 'Show List'}}</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.blog">
          <div class="flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.name"
              placeholder="Blog Title"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.oneliner"
              placeholder="One Liner"
            />
            <wysiwyg v-model="formBlog.content" class="mb-5"/>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.thumbnail"
              placeholder="Thumbnail"
            />
            <Upload :model="formBlog.thumbnail" @update="updateThumbnail" class="mb-5" />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.author"
              placeholder="Blog Author"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.authorbio"
              placeholder="Author Bio"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formBlog.authorthumbnail"
              placeholder="Author Thumbnail"
            />
            <Upload :model="formBlog.authorthumbnail" @update="updateAuthor" class="mb-5" />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitBlog"
            >{{formBlog.mode === 'new' ? 'Add Blog' : 'Edit Blog'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="cancelBlog"
              v-if="formBlog.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.blog">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in blog"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editBlog(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteBlog(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import AdminHeader from "@/views/Admin/AdminHeader.vue";
import Upload from "@/views/Admin/Upload.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, AdminHeader, Upload },
  created: function() {
    this.getBlog();
  },
  data: function() {
    return {
      show: {
        blog: false
      },
      formBlog: {
        _id: "",
        name: "",
        content: "",
        oneliner: "",
        thumbnail: "",
        author: "",
        authorthumbnail: "",
        authorbio: "",
        mode: "new"
      },
      blog: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    cancelBlog: function() {
      this.formBlog = {
        _id: "",
        name: "",
        content: "",
        oneliner: "",
        thumbnail: "",
        author: "",
        authorthumbnail: "",
        authorbio: "",
        mode: "new"
      };
      this.show.blog = false;
    },
    getBlog: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/blog`)
        .then(res => {
          console.log(res.data);
          self.blog = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editBlog: function(index) {
      this.formBlog = this.blog.map(x => {
        return { ...x, content: JSON.parse(x.content) };
      })[index];
      this.formBlog.mode = "edit";
      this.show.blog = true;
    },
    deleteBlog: function(index) {
      let payload = {
        _id: this.blog[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/blog/delete`, payload)
        .then(response => {
          this.getBlog();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitBlog: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formBlog.mode === "new" ? `/api/blog/` : `/api/blog/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formBlog)
        .then(response => {
          this.getBlog();
          self.formBlog = {
            name: "",
            content: "",
            oneliner: "",
            thumbnail: "",
            author: "",
            authorthumbnail: "",
            authorbio: ""
          };
          this.show.blog = false;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    updateThumbnail(newData) {
      this.formBlog.thumbnail = newData;
    },
    updateAuthor(newData) {
      this.formBlog.authorthumbnail = newData;
    }
  }
};
</script>