<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow text-primary py-2 px-10">
      <AdminHeader class="flex"></AdminHeader>
      <!-- Section 3 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Chapter</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.chapter = !show.chapter"
          >{{!show.chapter ? 'Add' : 'Show List'}}</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.chapter">
          <div class="flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formChp.name"
              placeholder="Chapter Name"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formChp.location"
              placeholder="Location"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formChp.thumbnail"
              placeholder="Thumbnail"
            />
            <Upload
              :model="formChp.thumbnail"
              @update="(e)=>{updateThumbnail(e, 'chapter')}"
              class="mb-5"
            />

            <!-- Section -->
            <b>Upcoming Events</b>
            <div class="flex flex-col">
              <div v-for="(item, index) in formChp.upcoming" :key="index">
                <img :src="item.thumbnail" width="200px" />
                <p>{{item.content}}</p>
                <p @click="removeData('upcoming', index)">Remove</p>
              </div>
            </div>

            <b>Add Upcoming Events</b>
            <textarea
              class="border border-primary w-full p-2 mb-2"
              v-model="upcoming.content"
              placeholder="content"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="upcoming.thumbnail"
              placeholder="Picture"
            />
            <Upload
              :model="upcoming.thumbnail"
              @update="(e)=>{updateThumbnail(e, 'upcoming')}"
              class="mb-5"
              ref="upload1"
            />
            <div
              class="bg-primary p-2 text-sm rounded text-white w-1/12 text-center mb-10"
              @click="addData('upcoming')"
            >Add</div>
            <!-- Section -->

            <!-- Section -->
            <b>Gallery</b>
            <div class="flex flex-row">
              <div v-for="(item, index) in formChp.gallery" :key="index">
                <img :src="item.thumbnail" width="200px" />
                <p @click="removeData('gallery', index)">Remove</p>
              </div>
            </div>

            <b>Add Images to Gallery</b>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="gallery.thumbnail"
              placeholder="Picture"
            />
            <Upload
              :model="gallery.thumbnail"
              @update="(e)=>{updateThumbnail(e, 'gallery')}"
              class="mb-5"
              ref="upload2"
            />
            <div
              class="bg-primary p-2 text-sm rounded text-white w-1/12 text-center mb-10"
              @click="addData('gallery')"
            >Add</div>
            <!-- Section -->

            <!-- Section -->
            <b>Past Events</b>
            <div class="flex flex-col">
              <div v-for="(item, index) in formChp.past" :key="index">
                <img :src="item.thumbnail" width="200px" />
                <p>{{item.content}}</p>
                <p @click="removeData('past', index)">Remove</p>
              </div>
            </div>

            <b>Add Past Events</b>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="past.title"
              placeholder="Event Name"
            />
            <textarea
              class="border border-primary w-full p-2 mb-2"
              v-model="past.content"
              placeholder="Content"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="past.thumbnail"
              placeholder="Picture"
            />
            <Upload
              :model="past.thumbnail"
              @update="(e)=>{updateThumbnail(e, 'past')}"
              class="mb-5"
              ref="upload3"
            />
            <div
              class="bg-primary p-2 text-sm rounded text-white w-1/12 text-center mb-10"
              @click="addData('past')"
            >Add</div>
            <!-- Section -->

            <!-- Section -->
            <b>Testimony</b>
            <div class="flex flex-col">
              <div v-for="(item, index) in formChp.testimony" :key="index">
                <p>{{item.name}}</p>
                <p>{{item.title}}</p>
                <p>{{item.content}}</p>
                <p @click="removeData('testimony', index)">Remove</p>
              </div>
            </div>

            <b>Add Testimony</b>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="testimony.name"
              placeholder="Name"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="testimony.title"
              placeholder="Title"
            />
            <textarea
              class="border border-primary w-full p-2 mb-2"
              v-model="testimony.content"
              placeholder="Content"
            ></textarea>
            <div
              class="bg-primary p-2 text-sm rounded text-white w-1/12 text-center mb-10"
              @click="addData('testimony')"
            >Add</div>
            <!-- Section -->

            <!-- Section -->
            <b>Team</b>
            <div class="flex flex-col">
              <div v-for="(item, index) in formChp.team" :key="index">
                <img :src="item.thumbnail" width="200px" />
                <p>{{item.name}}</p>
                <p @click="removeData('team', index)">Remove</p>
              </div>
            </div>

            <b>Add Team</b>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="team.name"
              placeholder="Name"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="team.title"
              placeholder="Title"
            />
            <textarea
              class="border border-primary w-full p-2 mb-2"
              v-model="team.bio"
              placeholder="bio"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="team.thumbnail"
              placeholder="Picture"
            />
            <Upload
              :model="team.thumbnail"
              @update="(e)=>{updateThumbnail(e, 'team')}"
              class="mb-5"
              ref="upload5"
            />
            <div
              class="bg-primary p-2 text-sm rounded text-white w-1/12 text-center mb-10"
              @click="addData('team')"
            >Add</div>
            <!-- Section -->

            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitChapter"
            >{{formChp.mode === 'new' ? 'Add Chapter' : 'Edit Chapter'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="cancelChapter"
              v-if="formChp.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.chapter">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in chapter"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editChapter(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteChapter(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import AdminHeader from "@/views/Admin/AdminHeader.vue";
import Upload from "@/views/Admin/Upload.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, AdminHeader, Upload },
  created: function() {
    this.getChapter();
  },
  data: function() {
    return {
      show: {
        team: false,
        chapter: false
      },
      formChp: {
        _id: "",
        name: "",
        location: "",
        thumbnail: "",
        upcoming: [],
        past: [],
        gallery: [],
        testimony: [],
        team: [],
        mode: "new"
      },
      upcoming: {
        thumbnail: "",
        content: ""
      },
      past: {
        title: "",
        thumbnail: "",
        content: ""
      },
      gallery: {
        thumbnail: ""
      },
      testimony: {
        content: "",
        name: "",
        title: ""
      },
      team: {
        name: "",
        title: "",
        bio: "",
        thumbnail: ""
      },
      chapter: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    getChapter: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/chapter`)
        .then(res => {
          console.log(res.data);
          self.chapter = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editChapter: function(index) {
      this.formChp = this.chapter.map(x => {
        return { ...x };
      })[index];
      this.formChp.mode = "edit";
      this.show.chapter = true;
    },
    deleteChapter: function(index) {
      let payload = {
        _id: this.chapter[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/chapter/delete`, payload)
        .then(response => {
          this.getChapter();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitChapter: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formChp.mode === "new" ? `/api/chapter/` : `/api/chapter/update`;
      console.log(this.formChp);
      axios
        .post(process.env.VUE_APP_API + api, this.formChp)
        .then(response => {
          this.getChapter();
          self.formChp = {
            _id: "",
            name: "",
            location: "",
            thumbnail: "",
            upcoming: [],
            past: [],
            gallery: [],
            testimony: [],
            team: []
          };
          this.show.chapter = false;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    cancelChapter: function() {
      this.formChp = {
        _id: "",
        name: "",
        bio: "",
        title: "",
        thumbnail: "",
        mode: "new"
      };
      this.show.chapter = false;
    },
    updateThumbnail(newData, key) {
      if (key === "chapter") {
        this.formChp.thumbnail = newData;
      }
      if (key === "upcoming") {
        this.upcoming.thumbnail = newData;
      }
      if (key === "gallery") {
        this.gallery.thumbnail = newData;
      }
      if (key === "past") {
        this.past.thumbnail = newData;
      }
      if (key === "team") {
        this.team.thumbnail = newData;
      }
    },
    removeData(key, index) {
      if (key === "upcoming") {
        this.formChp.upcoming = this.formChp.upcoming.filter(
          (x, i) => i !== index
        );
      }
      if (key === "gallery") {
        this.formChp.gallery = this.formChp.gallery.filter(
          (x, i) => i !== index
        );
      }
      if (key === "past") {
        this.formChp.past = this.formChp.past.filter((x, i) => i !== index);
      }
      if (key === "testimony") {
        this.formChp.testimony = this.formChp.testimony.filter(
          (x, i) => i !== index
        );
      }
      if (key === "team") {
        this.formChp.team = this.formChp.team.filter((x, i) => i !== index);
      }
    },
    addData(key) {
      if (key === "upcoming") {
        this.formChp.upcoming.push(this.upcoming);
        this.upcoming = {
          thumbnail: "",
          content: ""
        };
        this.$refs.upload1.clear();
      }
      if (key === "gallery") {
        this.formChp.gallery.push(this.gallery);
        this.gallery = {
          thumbnail: ""
        };
        this.$refs.upload2.clear();
      }
      if (key === "past") {
        this.formChp.past.push(this.past);
        this.past = {
          title: "",
          thumbnail: "",
          content: ""
        };
        this.$refs.upload3.clear();
      }
      if (key === "testimony") {
        this.formChp.testimony.push(this.testimony);
        this.testimony = {
          content: "",
          name: "",
          title: ""
        };
      }
      if (key === "team") {
        this.formChp.team.push(this.team);
        this.team = {
          name: "",
          title: "",
          bio: "",
          thumbnail: ""
        };
        this.$refs.upload5.clear();
      }
    }
  }
};
</script>