<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow text-primary py-2 px-10">
      <AdminHeader class="flex"></AdminHeader>
      <!-- Section 3 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Home</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.home">
          <div class="flex flex-col h-full justify-between text-primary">
            <p>Featured One</p>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formHome.featuredOne"
              placeholder="Featured One"
            />
            <Upload :model="formHome.featuredOne" @update="updateOne" class="mb-5" />

            <p>Featured Three</p>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formHome.featuredTwo"
              placeholder="Featured Two"
            />
            <Upload :model="formHome.featuredTwo" @update="updateTwo" class="mb-5" />

            <p>Featured Two</p>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formHome.featuredThree"
              placeholder="Featured Three"
            />
            <Upload :model="formHome.featuredThree" @update="updateThree" class="mb-5" />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitHome"
            >{{formHome.mode === 'new' ? 'Add Home' : 'Edit Home'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="formHome.mode = 'new'"
              v-if="formHome.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.home">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in home"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editHome(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteHome(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import AdminHeader from "@/views/Admin/AdminHeader.vue";
import Upload from "@/views/Admin/Upload.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, AdminHeader, Upload },
  created: function() {
    this.getHome();
  },
  data: function() {
    return {
      show: {
        home: true
      },
      formHome: {
        _id: "",
        featuredOne: "",
        featuredTwo: "",
        featuredThree: "",
        mode: "new"
      },
      home: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    getHome: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/home`)
        .then(res => {
          console.log(res.data);
          self.home = res.data;
          self.formHome = res.data[0];
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editHome: function(index) {
      this.formHome = this.home[index];
      this.formHome.mode = "edit";
      // this.show.home = true;
    },
    deleteHome: function(index) {
      let payload = {
        _id: this.blog[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/home/delete`, payload)
        .then(response => {
          this.getHome();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitHome: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formHome.mode === "new" ? `/api/home/` : `/api/home/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formHome)
        .then(response => {
          this.getHome();
          self.formHome = {
            featuredOne: "",
            featuredTwo: "",
            featuredThree: ""
          };
          // this.show.home = false;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    updateOne(newData) {
      this.formHome.featuredOne = newData;
    },
    updateTwo(newData) {
      this.formHome.featuredTwo = newData;
    },
    updateThree(newData) {
      this.formHome.featuredThree = newData;
    }
  }
};
</script>