<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow h-full justify-center py-2 px-10 text-primary">
      <AdminHeader class="flex"></AdminHeader>

      <!-- Section 2 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Organization</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.org = !show.org"
          >{{!show.org ? 'Add' : 'Show List'}}</p>
        </div>
        <div class="w-12/12 flex flex-col" v-if="show.org">
          <div class="flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.name"
              placeholder="Organization Name"
            />
            <textarea
              v-model="formOrg.content"
              class="border border-primary w-full p-2 mb-2"
              placeholder="About this Organization"
              style="height:400px;"
            ></textarea>
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.location"
              placeholder="Location"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.website"
              placeholder="Website"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.logo"
              placeholder="Logo"
            />
            <Upload :model="formOrg.logo" @update="updateLogo" class="mb-5" />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.thumbnail"
              placeholder="Thumbnail"
            />
            <Upload :model="formOrg.thumbnail" @update="updateThumbnail" class="mb-5" />

            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formOrg.thumbnail2"
              placeholder="Thumbnail Two"
            />
            <Upload :model="formOrg.thumbnail2" @update="updateThumbnail2" class="mb-5" />

            <div class="flex flex-row">
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Category</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in formOrg.category"
                    :key="index+'cat1'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="text-sm p-2">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="catOut(item)"
                    >Remove</p>
                  </div>
                </div>
              </div>
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Add Category</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in categories"
                    :key="index+'cat'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="p-1">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="formOrg.category.push(item)"
                    >Add</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-row">
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Career</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in formOrg.career"
                    :key="index+'cat1'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="text-sm p-2">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="careerOut(item)"
                    >Remove</p>
                  </div>
                </div>
              </div>
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Add Career</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in career"
                    :key="index+'cat'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="p-1">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="formOrg.career.push(item)"
                    >Add</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-row">
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Issue</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in formOrg.issue"
                    :key="index+'cat1'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="text-sm p-2">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="issueOut(item)"
                    >Remove</p>
                  </div>
                </div>
              </div>
              <div class="w-6/12 p-5">
                <p class="mb-1 font-bold">Add Issue</p>
                <div class="flex flex-row flex-wrap">
                  <div
                    v-for="(item, index) in issue"
                    :key="index+'cat'"
                    class="flex flex-row p-1 text-sm items-center"
                  >
                    <p class="p-1">{{item.name}}</p>
                    <p
                      class="bg-primary text-white p-1 rounded cursor-pointer"
                      @click="formOrg.issue.push(item)"
                    >Add</p>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitOrg"
            >{{formOrg.mode === 'new' ? 'Add Organization' : 'Edit Organization'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="cancelOrg"
              v-if="formOrg.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.org">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <p class="text-2xl mb-5 font-bold">Add Organization to Social Impact Directory</p>
              <div
                v-for="(item, index) in organizations"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editOrg(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteOrg(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 1 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Category</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.category = !show.category"
          >{{!show.category ? 'Add' : 'Show List'}}</p>
        </div>
        <div class="w-12/12 flex flex-col" v-if="show.category">
          <div class="flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formCat.name"
              placeholder="Category"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitCat"
            >Add Category</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.category">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in categories"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteCat(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Career Path</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.career = !show.career"
          >{{!show.career ? 'Add' : 'Show List'}}</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.career">
          <div class="flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formCareer.name"
              placeholder="Career"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitCareer"
            >Add Career</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.career">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in career"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteCareer(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Target Issue</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.issue = !show.issue"
          >{{!show.issue ? 'Add' : 'Show List'}}</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.issue">
          <div class="flex flex-col h-full justify-start text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formIssue.name"
              placeholder="Issue"
            />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitIssue"
            >Add Issue</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.issue">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in issue"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteIssue(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import AdminHeader from "@/views/Admin/AdminHeader.vue";
import Upload from "@/views/Admin/Upload.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, AdminHeader, Upload },
  created: function() {
    this.getCat();
    this.getCareer();
    this.getIssue();
    this.getOrg();
  },
  data: function() {
    return {
      show: { category: false, career: false, issue: false, org: false },
      formOrg: {
        _id: "",
        name: "",
        content: "",
        location: "",
        website: "",
        thumbnail: "",
        thumbnail2: "",
        logo: "",
        category: [],
        career: [],
        issue: [],
        mode: "new"
      },
      formCat: {
        _id: "",
        name: "",
        mode: "new"
      },
      formCareer: {
        _id: "",
        name: "",
        mode: "new"
      },
      formIssue: {
        _id: "",
        name: "",
        mode: "new"
      },
      categories: [],
      career: [],
      issue: [],
      organizations: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    cancelOrg: function() {
      this.formOrg = {
        _id: "",
        name: "",
        content: "",
        location: "",
        website: "",
        thumbnail: "",
        thumbnail2: "",
        logo: "",
        category: [],
        career: [],
        issue: [],
        mode: "new"
      };
      this.show.org = false;
    },
    catOut: function(val) {
      this.formOrg.category = this.formOrg.category.filter(
        x => x.name !== val.name
      );
    },
    careerOut: function(val) {
      this.formOrg.career = this.formOrg.career.filter(
        x => x.name !== val.name
      );
    },
    issueOut: function(val) {
      this.formOrg.issue = this.formOrg.issue.filter(x => x.name !== val.name);
    },
    getCat: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/category`)
        .then(res => {
          console.log(res);
          self.categories = res.data;
        })
        .catch(e => {});
    },
    deleteCat: function(index) {
      let payload = {
        _id: this.categories[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/category/delete`, payload)
        .then(response => {
          this.getCat();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitCat: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formCat.mode === "new" ? `/api/category/` : `/api/category/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formCat)
        .then(response => {
          console.log(response);
          this.getCat();
          self.formCat = {
            name: ""
          };
          this.show.category = false;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getCareer: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/career`)
        .then(res => {
          console.log(res);
          self.career = res.data;
        })
        .catch(e => {});
    },
    deleteCareer: function(index) {
      let payload = {
        _id: this.career[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/career/delete`, payload)
        .then(response => {
          this.getCareer();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitCareer: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formCareer.mode === "new" ? `/api/career/` : `/api/career/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formCareer)
        .then(response => {
          console.log(response);
          this.getCareer();
          self.formCareer = {
            name: ""
          };
          this.show.career = false;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getIssue: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/issue`)
        .then(res => {
          console.log(res);
          self.issue = res.data;
        })
        .catch(e => {});
    },
    deleteIssue: function(index) {
      let payload = {
        _id: this.issue[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/issue/delete`, payload)
        .then(response => {
          this.getIssue();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitIssue: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formIssue.mode === "new" ? `/api/issue/` : `/api/issue/update`;

      axios
        .post(process.env.VUE_APP_API + api, this.formIssue)
        .then(response => {
          console.log(response);
          this.getIssue();
          self.formIssue = {
            name: ""
          };
          this.show.issue = false;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getOrg: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/organization`)
        .then(res => {
          console.log(res.data);
          self.organizations = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editOrg: function(index) {
      this.formOrg = this.organizations.map(x => {
        return { ...x, content: JSON.parse(x.content) };
      })[index];
      this.formOrg.mode = "edit";
      this.show.org = true;
    },
    deleteOrg: function(index) {
      let payload = {
        _id: this.organizations[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/organization/delete`, payload)
        .then(response => {
          this.getOrg();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitOrg: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formOrg.mode === "new"
          ? `/api/organization/`
          : `/api/organization/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formOrg)
        .then(response => {
          this.getOrg();
          self.formOrg = {
            name: "",
            content: "",
            location: "",
            website: "",
            category: "",
            career: "",
            issue: ""
          };
          this.show.org = false;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    updateLogo(newData) {
      this.formOrg.logo = newData;
    },
    updateThumbnail(newData) {
      this.formOrg.thumbnail = newData;
    },
    updateThumbnail2(newData) {
      this.formOrg.thumbnail2 = newData;
    }
  }
};
</script>