<style scoped lang="scss">
.home {
  padding-bottom: 40px;
  max-width: 1100px;
}
</style>


<template>
  <div class="home mx-auto min-h-screen flex flex-col">
    <Header class="flex"></Header>
    <div class="w-full flex flex-col flex-grow text-primary py-2 px-10">
      <AdminHeader class="flex"></AdminHeader>
      <!-- Section 3 -->
      <div class="flex flex-col mb-10">
        <div class="flex flex-row mb-5">
          <p class="text-2xl font-bold pr-2">Team</p>
          <p
            class="bg-primary text-white p-2 rounded cursor-pointer hover:bg-primary-light text-sm inline mb-1 text-center"
            @click="show.team = !show.team"
          >{{!show.team ? 'Add' : 'Show List'}}</p>
        </div>

        <div class="w-12/12 flex flex-col" v-if="show.team">
          <div class="flex flex-col h-full justify-between text-primary">
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formTeam.name"
              placeholder="Team Name"
            />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formTeam.title"
              placeholder="Title"
            />
            <wysiwyg v-model="formTeam.bio" class="mb-5" style="min-height: 500px;" />
            <input
              class="border border-primary w-full p-2 mb-2"
              v-model="formTeam.thumbnail"
              placeholder="Picture"
            />
            <Upload :model="formTeam.thumbnail" @update="updateThumbnail" class="mb-5" />
            <button
              class="bg-primary w-full text-white p-2 font-bold mb-1"
              @click="submitTeam"
            >{{formTeam.mode === 'new' ? 'Add Team' : 'Edit Team'}}</button>
            <button
              class="bg-primary w-full text-white p-2 font-bold"
              @click="cancelTeam"
              v-if="formTeam.mode === 'edit'"
            >Cancel Edit</button>
          </div>
        </div>
        <div class="w-12/12 flex flex-col" v-if="!show.team">
          <div class="flex flex-col h-full justify-between">
            <div class="text-primary">
              <div
                v-for="(item, index) in team"
                :key="index"
                class="flex flex-row text-sm justify-between mb-1"
              >
                <p>{{item.name}}</p>
                <div class="flex flex-row">
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="editTeam(index)"
                  >Edit</p>
                  <p
                    class="cursor-pointer bg-primary text-white p-1 rounded mx-1"
                    @click="deleteTeam(index)"
                  >Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import AdminHeader from "@/views/Admin/AdminHeader.vue";
import Upload from "@/views/Admin/Upload.vue";

export default {
  name: "Team",
  props: {},
  components: { Header, AdminHeader, Upload },
  created: function() {
    this.getTeam();
  },
  data: function() {
    return {
      show: {
        team: false
      },
      formTeam: {
        _id: "",
        name: "",
        bio: "",
        title: "",
        thumbnail: "",
        mode: "new"
      },
      team: [],
      errors: []
    };
  },
  computed: {},
  methods: {
    cancelTeam: function() {
      this.formTeam = {
        _id: "",
        name: "",
        bio: "",
        title: "",
        thumbnail: "",
        mode: "new"
      };
      this.show.team = false;
    },
    getTeam: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/team`)
        .then(res => {
          console.log(res.data);
          self.team = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editTeam: function(index) {
      this.formTeam = this.team.map(x => {
        return { ...x, bio: JSON.parse(x.bio) };
      })[index];
      this.formTeam.mode = "edit";
      this.show.team = true;
    },
    deleteTeam: function(index) {
      let payload = {
        _id: this.team[index]._id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/team/delete`, payload)
        .then(response => {
          this.getTeam();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    submitTeam: function() {
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      let api =
        this.formTeam.mode === "new" ? `/api/team/` : `/api/team/update`;
      axios
        .post(process.env.VUE_APP_API + api, this.formTeam)
        .then(response => {
          this.getTeam();
          self.formTeam = {
            name: "",
            title: "",
            bio: "",
            thumbnail: ""
          };
          this.show.team = false;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    updateThumbnail(newData) {
      this.formTeam.thumbnail = newData;
    }
  }
};
</script>