<style lang="scss" scoped>
.create__image {
  margin-right: 7px;
  width: 75px;
  height: 75px;
  float: left;
}
</style>

<template>
  <div>
    <p @click="uploadPicture()">{{loading ? 'Loading...' : 'Upload Image'}}</p>
    <img :src="image" v-if="image !== ''" width="200px" />
    <img :src="model" v-if="model !== '' && image === ''" width="200px" />
    <!-- <img
      class="create__image"
      :src="picture"
      :style="border ? 'border: 1px solid #222;' : 'border: none;'"
      @click="uploadPicture()"
    />-->
    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event)"
        name="avatar"
        class="create--load"
      />
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Pictures",
  data: function() {
    {
      return {
        image: "",
        loading: false
      };
    }
  },
  props: {
    model: String
  },
  computed: {},
  methods: {
    clear: function() {
      this.image = "";
    },
    setPicture(link) {
      console.log(link);
      this.$emit("update", link);
      this.image = link;
    },
    uploadPicture() {
      this.$refs.uploadPicture.click();
    },
    onFileChanged(event) {
      let file = event.target.files[0];
      console.log("hi");
      //Upload
      const formData = new FormData();
      formData.append("avatar", file, file.name);
      console.log("hi", process.env.VUE_APP_API + "/api/upload/image");
      this.loading = true;
      axios
        .post(process.env.VUE_APP_API + "/api/upload/image", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(res => {
          console.log(res.data.link);
          this.setPicture(res.data.link);
          this.loading = false;
        });
    }
  }
};
</script>
