<template>
  <div id="app" class="w-full max-w-screen h-full min-h-screen">
    <router-view />
  </div>
</template>

<style lang="scss">
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
textarea:focus {
  outline: 0 !important;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.highlight {
  background: url("https://i.imgur.com/wRFe1Wc.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
}

.highlight-blue {
  background: url("https://i.imgur.com/Q9THquQ.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
}

.bg-primary {
  background-color: #283887;
}
.hover\:bg-primary:hover {
  background-color: #282d6a;
}
.bg-primary-light {
  background-color: #9bb0e7;
}
.hover\:bg-primary-light:hover {
  background-color: #9bb0e7;
}
.bg-primary-200 {
  background-color: #c7d6ff;
}
.hover\:bg-primary-200:hover {
  background-color: #c7d6ff;
}
.bg-secondary {
  background-color: #f6e078;
}
.hover\:bg-secondary:hover {
  background-color: #f6e078;
}
.bg-secondary-light {
  background-color: #fdf8db;
}
.hover\:bg-secondary-light:hover {
  background-color: #fdf8db;
}

.text-primary {
  color: #283887;
}
.hover\:text-primary:hover {
  color: #282d6a;
}
.text-primary-light {
  color: #9bb0e7;
}
.hover\:text-primary-light:hover {
  color: #9bb0e7;
}
.text-secondary {
  color: #d6d3c3;
}
.hover\:text-secondary:hover {
  color: #d6d3c3;
}
.text-secondary-light {
  color: #fdf8db;
}
.hover\:text-secondary-light:hover {
  color: #fdf8db;
}

.border-primary {
  border-color: #282d6a;
}
.hover\:border-primary:hover {
  border-color: #282d6a;
}
.border-primary-light {
  border-color: #9bb0e7;
}
.hover\:border-primary-light:hover {
  border-color: #9bb0e7;
}
.border-secondary {
  border-color: #f6e078;
}
.hover\:border-secondary:hover {
  border-color: #f6e078;
}
.border-secondary-light {
  border-color: #fdf8db;
}
.hover\:border-secondary-light:hover {
  border-color: #fdf8db;
}

.stripe {
  .inner {
    background: #f6e078;
    height: 5px;
    width: 100px;
  }
}
</style>
